<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="img/la vie icon mod.png" type="image/x-icon" id="x-icon">
    <title>La vie naturelle</title>
</head>
<body>

    <header id="index">
        <nav class="banner">
            <div class="nav-index">
                <div class="contenedor-nav">
                    <span><a class="a-nav" href="/">Inicio</a></span>
                    <span><a class="a-nav" href="/nosotros">Nosotros</a></span>
                    <span><a class="a-nav" href="/DetalleDeProducto">Productos</a></span>
                    <span><a class="a-nav" href="/contacto">Contacto</a></span>
                </div>
                <div class="titulo-parrafo">
                    <h1 class="titulo-header">La Vie Naturelle</h1>
                    <p class="parrafo-header">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>
            <div class="nav-2">
                <div>
                    <span><a class="a-nav" href="/registro">registrate</a></span>
                </div>
                <div class="carrito-icon">
                    <img src="./img/carrito-de-compras.svg" alt="carrito">
                </div>
            </div>
        </nav>
    </header>

    <section id="section-index">
        <div class="info">
            <div class="cuadro">
                <div class="tarjeta">
                    <div>
                        <h3>Shampoo solido</h3>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div class="boton-carrito-index">
                        <a href="/DetalleDeProducto" class="carrito-index">ver más</a>
                    </div>
                    <div class="imagenes-index">
                        <img src="./img/jabon_1.jpg" alt="imagen shampoo">
                    </div>
                </div>
                <div class="tarjeta">
                    <div>
                        <h3>Jabones sólidos</h3>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div class="boton-carrito-index">
                        <a href="/DetalleDeProducto" class="carrito-index">ver más</a>
                    </div>
                    <div class="imagenes-index">
                        <img src="./img/jabon_2.jpg" alt="imagen acondicionador">
                    </div>
                </div>
                <div class="tarjeta">
                    <div>
                        <h3>Acondicionador sòlido</h3>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div class="boton-carrito-index">
                        <a href="/DetalleDeProducto" class="carrito-index">ver más</a>
                    </div>
                    <div class="imagenes-index">
                        <img src="./img/jabon_3.jpg" alt="imagen producto 3">
                    </div>
                </div>
                <div class="tarjeta">
                    <div>
                        <h3>producto 4</h3>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div class="boton-carrito-index">
                        <a href="/DetalleDeProducto" class="carrito-index">ver más</a>
                    </div>
                    <div class="imagenes-index">
                        <img src="./img/371f4bfc3fba0349aa866fc2e7a66392.jpg" alt="imagen producto 4">
                    </div>
                </div>
            </div>
        </div>
        <div class="ultimos-productos">
            <div class="cuadro2">
                <div class="titulo-3">
                    <h3>ultimos productos</h3>
                </div>
                <div class="background-fondo-productos">
                    <div class="producto-nuevo">
                        <div class="new-producto">
                            <img src="/img/jabon_1.jpg" alt="producto-new1">
                        </div>
                        <div>
                            <div class="titulo-producto">
                                <p> Producto nuevo 1</p>
                            </div>
                            <div class="precio-index">
                                <p>precio</p>
                            </div>
                        </div>
                        <div>
                            <div class="carrito-index">
                                <p>añadir al carrito</p>
                            </div>
                        </div>
                    </div>
                    <div class="producto-nuevo">
                        <div class="new-producto">
                            <img src="/img/jabon_1.jpg" alt="producto-new2">
                        </div>
                        <div>
                            <div class="titulo-producto">
                                <p>Producto nuevo 2</p>
                            </div>
                            <div>
                                <p>Precio</p>
                            </div>
                        </div>
                        <div>
                            <div class="carrito-index">
                                <p>añadir al carrito</p>
                            </div>
                        </div>

                    </div>
                    <div class="producto-nuevo">
                        <div class="new-producto">
                            <img src="/img/jabon_1.jpg" alt="producto-new3">
                        </div>
                        <div>
                            <div class="titulo-producto">
                                <p>Producto nuevo 3</p>
                            </div>
                            <div>
                                <p>Precio</p>
                            </div>
                        </div>
                        <div>
                            <div class="carrito-index">
                                <p>añadir al carrito</p>
                            </div>
                        </div>

                    </div>
                    <div class="producto-nuevo">
                        <div class="new-producto">
                            <img src="/img/jabon_1.jpg" alt="producto-new4">
                        </div>
                        <div>
                            <div class="titulo-producto">
                                <p>Producto nuevo 4</p>
                            </div>
                            <div>
                                <p>precio</p>
                            </div>
                        </div>
                        <div>
                            <div class="carrito-index">
                                <p>añadir al carrito</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="info-footer">
            <div class="iconos-info">
                <img src="./img/marcador.png" alt="" class="icon-footer">
                <p>Posadas,Misiones</p>
                <img src="./img/sobre.png" alt="" class="icon-footer">
                <p>lavienaturelle@gmail.com</p>
                <img src="./img/llamada-telefonica.png" alt="" class="icon-footer">
                <p>3764107823</p>
            </div>
        </div>  
        <div class="logo-footer">
            <img src="./img/la_vie_icon.png" alt="logo" class="icon-footer">
        </div>   
        <div class="legal-footer">
            <div>
              <div>
                  <h4 class="subtitulo-footer">RGPD</h4>
              </div>  
              <div class="rgpd">
                  <a href="/politica">politica de privacidad</a>
                  <a href="/terminos">terminos y condiciones</a>
              </div>  
            </div>
        </div>  
        <div class="nosotros-footer">
          <div>
              <div class="subtitulo-footer">
                  <h4>Nosotros</h4>
              </div>  
              <div class="nosotros">
                  <a href="/historia">historia</a>
                  <a href="/mision">mision,vision y valores</a>
                  <a href="/contacto">contactenos</a>
              </div>  
          </div>  
        </div>  
        <div class="redes-sociales2">
            <div>
              <div>
                  <h4>Redes Sociales</h4>
              </div>  
              <div class="redes-sociales">
                  <div class="wpp-icon">
                      <img src="./img/whatsapp.png" alt="logo wpp" class="icon-footer">
                  </div>
                  <div class="ig-icon">
                      <img src="./img/instagram.png" alt="logo instagram" class="icon-footer">
                  </div>
              </div>  
            </div>
        </div>  
    </footer>
</body>
</html>