<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="img/la vie icon mod.png" type="image/x-icon" id="x-icon">
    <title>La vie naturelle</title>
</head>
<body  id="index">
    <header>
        
        <div class="container" >

            <div class="nav" align="center">
                <span><a href="/">Inicio</a></span>
                <span><a href="/DetalleDeProducto">Productos</a></span>
                <span><a href="/CarritoDeCompras">Carrito</a></span>
                <span><a href="/login">Login</a></span>
                <span><a href="/registro">Registro</a></span>
                <img src="./img/carrito-de-compras.svg" alt="carrito-icon" width ="40px" align="right">
            </div>
            
            <!--seccion 1-->
            <div class="seccion-1">
                <h1 align="center">La vie naturelle</h1>
                <link rel="shortcut icon" href="img/la_vie_(3).png" type="image/x-icon" width="900px">
                <h3 align="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</h3>
                
        </div>
            </div>

        <!--seccion 2-->
        
    </header>
    <article>
        

    </article>
    <aside>
        
    </aside>
    <footer>
        
    </footer>
</body>
</html>