<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Cosmetica Eco Friendly</h1>
        <img src="" alt="logo">
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/DetalleDeProducto">Productos</a></li>
                <li><a href="/CarritoDeCompras">Carrito</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registro">Registro</a></li>
            </ul>
        </nav>
    </header>
    <article id="login">
        <section>
            <img src="" alt="Imagen login">
        </section>
        <section>
            <img src="" alt="Logo login">
            <h2>Login</h2>
            <form action="post">
                <input type="text"><br>
                <input type="checkbox" name="hidden" id="hidden">
                <input type="password" name="password" id=""><br>
                <input type="button" value="Login">
            </form>
            <p1>¿ No tienes una cuenta ? Create una!<a href="/registro"><button>Sign up</button></a></p1>
        </section>
    </article>
    <aside>

    </aside>
    <footer>

    </footer>
</body>
</html>