<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="img/la vie icon mod.png" type="image/x-icon" id="x-icon">
    <title>La vie naturelle - detalle del producto</title>
</head>
<body>
    <header>
                   
            <div>
                 <a>menu</a>
                 <img src="" alt="imagen logo">
                 <img src="" alt="imagen carrito">
                 <span><a href="/login">Login</a></span>
                 <span><a href="/registro">Registro</a></span>
            </div>        

           <nav>
               <div>
                <span><a href="/">Inicio</a></span>
                <span><a href="/DetalleDeProducto">Productos</a></span>
                <span><a href="/CarritoDeCompras">Carrito</a></span>
               </div>
           </nav>

    </header>
    <main>      
        <article>
            <div class="bloque1">
                <img src="" alt="imagen producto 1">
            </div>  
                <div>
                    <h3>Productos 1</h3>
                </div>
                    <div>
                            <div>
                                precio
                            </div>
                            <div>
                                tipo
                            </div>
                    </div>
            <!--bloque 2-->
            <nav>
                <div>
                    <h3>Descripcion</h3>
                    <h3>ingredientes</h3>
                    <h3>procedimiento</h3>
                </div>
                <div>
                    <h3>Descripcion</h3>
                    <div>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt ducimus optio impedit praesentium modi omnis, excepturi, accusamus itaque expedita nemo consequuntur minus. Fugit, voluptas dicta? Assumenda quidem cupiditate ratione at!           
                    </div>
                </div>
            </nav>

            <!--bloque 3-->
            <div class="Productos-relacionados">
                <div>
                    <div class="titulo-3">
                        <h3>Productos Relacionados</h3>
                    </div>
                    <div class="background-fondo-productos">
                        <div class="producto-nuevo1">
                            <div>
                                <img src="" alt="producto-new1">
                             </div>
                            <div>
                                <div>
                                    <p class="titulo-producto"> </p> 
                                    <p>Producto nuevo 1</p>
                                </div>
                                <div>
                                    <p>precio</p>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <p>añadir al carrito</p>
                                </div>
                            </div>
                        </div>
                        <div class="producto-nuevo1">
                            <div>
                                <img src="" alt="producto-new1">
                             </div>
                            <div>
                                <div>
                                    <p class="titulo-producto"> </p> 
                                    <p>Producto nuevo 1</p>
                                </div>
                                <div>
                                    <p>precio</p>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <p>añadir al carrito</p>
                                </div>
                            </div>
                        </div>
                        <div class="producto-nuevo1">
                            <div>
                                <img src="" alt="producto-new1">
                             </div>
                            <div>
                                <div>
                                    <p class="titulo-producto"> </p> 
                                    <p>Producto nuevo 1</p>
                                </div>
                                <div>
                                    <p>precio</p>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <p>añadir al carrito</p>
                                </div>
                            </div>
                        </div> 
                        <div class="producto-nuevo1">
                            <div>
                                <img src="" alt="producto-new1">
                             </div>
                            <div>
                                <div>
                                    <p class="titulo-producto"> </p> 
                                    <p>Producto nuevo 1</p>
                                </div>
                                <div>
                                    <p>precio</p>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <p>añadir al carrito</p>
                                </div>
                            </div>
                        </div>  
                </div>                            
            </div>                            
        </article>

        <aside>
            <div>
                <h3>Promociones</h3>
            </div>
            <div>
                <img src="" alt="imagenes productos carrucel">  
            </div> 
                <div>
                    <h3>Categorias</h3>
                </div>
                    <div>
                        <div>producto 1</div>
                        <div>producto 2</div>
                        <div>producto 3</div>
                        <div>producto 4</div>
                    </div>
                <div>
                    <img src="" alt="img">  
                </div>      
        </aside>
    </main>
    <footer>
        <div>
            <div>
              <div>
                  <div>
                      <img src="" alt="">
                  </div>  
                  <div>
                      <p>correo</p>
                  </div>  
              </div>  
              <div>
                  <div>
                      <img src="" alt="">
                  </div>  
                  <div>
                      <p>ubicacion</p>
                  </div>  
              </div>  
              <div>
                  <div>
                      <img src="" alt="">
                  </div>  
                  <div>
                      <p>telefono</p>
                  </div>  
              </div>  
            </div>
        </div>  
        <div>
            <img src="" alt="logo">
        </div>  
        <div>
            <div>
              <div>
                  <h6>Quienes somos</h6>
              </div>  
              <div>
                  <p>descripcion</p>
              </div>  
            </div>
        </div>  
        <div>
            <div>
              <div>
                  <h6>RGPD</h6>
              </div>  
              <div>
                  <p>politica de privacidad</p>
                  <p>terminos y condiciones</p>
              </div>  
            </div>
        </div>  
        <div>
          <div>
              <div>
                  <h6>Màs de nosotros</h6>
              </div>  
              <div>
                  <p>historia</p>
                  <p>mision,vision y valores</p>
                  <p>contactenos</p>
              </div>  
          </div>  
        </div>  
        <div>
            <div>
              <div>
                  <h6>Redes Sociales</h6>
              </div>  
              <div>
                  <img src="" alt="logo wpp">
                  <img src="" alt="logo instagram">
              </div>  
            </div>
        </div>  
    </footer>
</body>
</html>