<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>La vie naturell</title>
</head>
<body>
    <header>
        <div class="icono-hamburguesa">
            <div class="burguer-icon">
                <img src="./img/menu-hamburguesa.png" alt="menu hamburguesa">
            </div>
        </div>
        <div class="titulo">
            <div>
                <h1>La vie naturelle</h1>
            </div>
            <div class="img-icon">
                <img src="./img/la_vie_icon.png" alt="logo">
            </div>
        </div>
        <div class="nav">
            <div class="carrito-icon">
                <img src="./img/carrito-de-compras.svg" alt="icono de carrito">
            </div>
        </div>
        <div class="nav">
            <div class="usuario-icon">
                <img src="./img/usuario.png" alt="icono de cliente">
            </div>
        </div>
    </header>
    <main class="main-carrito">
        <article class="article-carrito">
            <table class="tabla-carrito">
                <tr>
                    <th class="subtitulo-carrito">Producto</th>
                    <th class="subtitulo-carrito">cantidad</th>
                    <th class="subtitulo-carrito">precio</th>
                </tr>
                <tr>
                    <td class="td-carrito">
                        <div class="card-info">
                            <img src="./img/jabon_1.jpg" alt="imagen jabon solido">
                            <div>
                                <p>Jabón sólido</p>
                                <small>Precio: $599.99</small>
                            </div>
                        </div>
                    </td>
                    <td class="td-carrito"><input type="number" value="1" id="input-carrito"></td>
                    <td class="td-carrito">$599.99</td>
                </tr>
                <tr>
                    <td class="td-carrito">
                        <div class="card-info">
                            <img src="./img/jabon_1.jpg" alt="imagen jabon solido">
                            <div>
                                <p>Shampoo sólido</p>
                                <small>Precio: $599.99</small>
                            </div>
                        </div>
                    </td>
                    <td class="td-carrito"><input type="number" value="1" id="input-carrito"></td>
                    <td class="td-carrito">$599.99</td>
                </tr>
                <tr>
                    <td class="td-carrito">
                        <div class="card-info">
                            <img src="./img/jabon_1.jpg" alt="imagen jabon solido">
                            <div>
                                <p>Desodorante sólido</p>
                                <small>Precio: $599.99</small>
                            </div>
                        </div>
                    </td>
                    <td class="td-carrito"><input type="number" value="1" id="input-carrito"></td>
                    <td class="td-carrito">$599.99</td>
                </tr>
            </table>
    
            <div class="total-carrito">
                <table>
                    <tr>
                        <td>subtotal</td>
                        <td>$599.99</td>
                    </tr>
                    <tr>
                        <td>Envío</td>
                        <td>$500</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>$1099.99</td>
                    </tr>
                </table>
            </div>
        </article>
    </main>
    
    <!--<article class="article-carrito">
        <h1>Carrito de Compras</h1>
        <div class="caja-carrito">
            <div>
                <div>
                    <section>
                        <div class="detalle-producto">
                            <img src="/img/jabon_1.jpg" alt="Foto del producto">
                        </div> 
                        <div>
                            <div class="descripcion-carrito">
                                <h3>Descripcion</h3>
                                <h4>Acondicionador Solido</h4>
                                <h5>Para todo tipo de cabellos, aroma a coco, pesa 100gr</h5>
                            </div>
                        </div>
                        <div class="Cantidad"> 
                            <h3>Cantidad</h3>
                            <div>
                                <img src="" alt="boton menos">
                                <input type = "number">
                                <img src="" alt="boton mas">
                                <div>
                                    <p>Stock Disponible</p>
                                </div>
                            </div>
                        </div>
                        <div class="Precio unitario">
                            <h3>Precio Unitario</h3>
                            <span>$100</span>
                        </div>
                        <div class="Subtotal">
                            <h3>Subtotal</h3>
                            <span>$100</span>
                        </div>
                        <div class="boton-eliminar">
                            <img src="./img/close-circle-outline.svg" alt="Boton Eliminar">
                        </div>
                    </section>
                </div>

            </div>
            <div>

            </div>
        </div>
        <div class="total-compras">
            <div>
                <div>
                    <div class="recuadro-total">
                        <div>
                            <div class="subtotal-2">
                                <div>
                                    <p>Subtotal</p>
                                </div>
                                <div>
                                    <p>$100</p>
                                </div>
                            </div>
                            <div class="subtotal-2">
                                <div>
                                    <p>Total</p>
                                </div>
                                <div>
                                    <p>$100</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>-->
    <footer>
        <div class="info-footer">
            <div class="iconos-info">
                <img src="./img/marcador.png" alt="" class="icon-footer">
                <p>Posadas,Misiones</p>
                <img src="./img/sobre.png" alt="" class="icon-footer">
                <p>lavienaturelle@gmail.com</p>
                <img src="./img/llamada-telefonica.png" alt="" class="icon-footer">
                <p>3764107823</p>
            </div>
        </div>  
        <div class="logo-footer">
            <img src="./img/la_vie_icon.png" alt="logo" class="icon-footer">
        </div>   
        <div class="legal-footer">
            <div>
              <div>
                  <h4 class="subtitulo-footer">RGPD</h4>
              </div>  
              <div class="rgpd">
                  <a href="/politica">politica de privacidad</a>
                  <a href="/terminos">terminos y condiciones</a>
              </div>  
            </div>
        </div>  
        <div class="nosotros-footer">
          <div>
              <div class="subtitulo-footer">
                  <h4>Nosotros</h4>
              </div>  
              <div class="nosotros">
                  <a href="/historia">historia</a>
                  <a href="/mision">mision,vision y valores</a>
                  <a href="/contacto">contactenos</a>
              </div>  
          </div>  
        </div>  
        <div class="redes-sociales2">
            <div>
              <div>
                  <h4>Redes Sociales</h4>
              </div>  
              <div class="redes-sociales">
                  <div class="wpp-icon">
                      <img src="./img/whatsapp.png" alt="logo wpp" class="icon-footer">
                  </div>
                  <div class="ig-icon">
                      <img src="./img/instagram.png" alt="logo instagram" class="icon-footer">
                  </div>
              </div>  
            </div>
        </div>  
    </footer>
</body>
</html>