<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pagina Inicio</title>
</head>
<body>
    <header>
        <h1>¡¡ Bienvenidos !!</h1>
        <h2>Pagina de Inicio</h2>
    </header>
    <nav>

    </nav>
    <article>

    </article>
    <aside>

    </aside>
    <footer>

    </footer>
</body>
</html>