<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="img/la vie icon mod.png" type="image/x-icon" id="x-icon">
    <title>La vie naturelle - detalle del producto</title>
</head>
<body>
    <header>      
        <div class="icono-hamburguesa">
            <div class="burguer-icon">
                <img src="./img/menu-hamburguesa.png" alt="menu hamburguesa">
            </div>
        </div>
        <div class="titulo">
            <div>
                <h1>La vie naturelle</h1>
            </div>
            <div class="img-icon">
                <img src="./img/la_vie_icon.png" alt="logo">
            </div>
        </div>
        <div class="nav">
            <div class="carrito-icon">
                <img src="./img/carrito-de-compras.svg" alt="icono de carrito">
            </div>
        </div>
        <div class="nav">
            <div class="usuario-icon">
                <img src="./img/usuario.png" alt="icono de cliente">
            </div>
        </div>
    </header>
            
    <article>
         <div>
             <img src="" alt="imagen producto 1">
         </div>  
             <div>
                <h3>Productos 1</h3>
             </div>
                  <div>
                        <div>
                             precio
                        </div>
                        <div>
                              tipo
                        </div>
                   </div>
          <div>
             <img src="" alt="imagen producto 2">  
          </div>         
             <div>
                 <h3>Productos 2</h3>
             </div>
                 <div>
                       <div>
                             precio
                       </div>
                       <div>
                             tipo
                       </div>    
                  </div>
          <div>
             <img src="" alt="imagen producto 3">  
          </div>
            <div>
                 <h3>Productos 3</h3>
            </div>
                     <div>
                           <div>
                                 precio
                           </div>
                           <div>
                                 tipo
                           </div>
                      </div>
          <div>
             <img src="" alt="imagen producto 4">  
          </div>           
             <div>
                 <h3>Productos 4</h3>
             </div>
                     <div>
                           <div>
                                 precio
                           </div>
                           <div>
                                 tipo
                           </div>
                      </div>
                <div>
                    añadir al Carrito
                 </div>
                 <nav>
                    <div>
                     <h3>Descripcion</h3>
                     <h3>ingredientes</h3>
                     <h3>procedimiento</h3>
                    </div>
                </nav>
                 <div>
                    <h3>Descripcion</h3>
                 </div>
                         <div>
                             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt ducimus optio impedit praesentium modi omnis, excepturi, accusamus itaque expedita nemo consequuntur minus. Fugit, voluptas dicta? Assumenda quidem cupiditate ratione at!           
                         </div>
                         <div class="Productos-relacionados">
                            <div>
                                <div class="titulo-3">
                                    <h3>Productos Relacionados</h3>
                                </div>
                                <div class="background-fondo-productos">
                                    <div class="producto-nuevo1">
                                        <div>
                                            <img src="" alt="producto-new1">
                                        </div>
                                        <div>
                                            <div>
                                                <p class="titulo-producto"> </p> 
                                                <p>Producto nuevo 1</p>
                                            </div>
                                            <div>
                                                <p>precio</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <p>añadir al carrito</p>
                                            </div>
                                        </div>
                
                                    </div>
                                    <div class="producto-nuevo2">
                                        <div>
                                            <img src="" alt="producto-new2">
                                        </div>
                                        <div>
                                            <div>
                                                <p>Producto nuevo 2</p>
                                            </div>
                                            <div>
                                                <p>Precio</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <p>añadir al carrito</p>
                                            </div>
                                        </div>
                
                                    </div>
                                    <div class="producto-nuevo3">
                                        <div>
                                            <img src="" alt="producto-new3">
                                        </div>
                                        <div>
                                            <div>
                                                <p>Producto nuevo 3</p>
                                            </div>
                                            <div>
                                                <p>Precio</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <p>añadir al carrito</p>
                                            </div>
                                        </div>
                
                                    </div>
                                    <div class="producto-nuevo4">
                                        <div>
                                            <img src="" alt="producto-new4">
                                        </div>
                                        <div>
                                            <div>
                                                <p>Producto nuevo 4</p>
                                            </div>
                                            <div>
                                                <p>precio</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <p>añadir al carrito</p>
                                            </div>
                                        </div>
    </article>

    <aside>
        <div>
             <h3>Promociones</h3>
        </div>
        <div>
            <img src="" alt="imagenes productos carrucel">  
        </div> 
             <div>
                 <h3>Categorias</h3>
             </div>
                <div>
                     <div>producto 1</div>
                     <div>producto 2</div>
                     <div>producto 3</div>
                     <div>producto 4</div>
                </div>
             <div>
                 <img src="" alt="img">  
             </div>      
    </aside>
    <footer>
        <div class="info-footer">
            <div>
              <div>
                  <div class="correo-icon">
                      <img src="./img/sobre.png" alt="">
                  </div>  
                  <div>
                      <p>lavienaturelle@gmail.com</p>
                  </div>  
              </div>  
              <div>
                  <div class="ubicacion-icon">
                      <img src="./img/marcador.png" alt="">
                  </div>  
                  <div>
                      <p>Posadas,Misiones</p>
                  </div>  
              </div>  
              <div>
                  <div class="telefono-icon">
                      <img src="./img/llamada-telefonica.png" alt="">
                  </div>  
                  <div>
                      <p>3764107823</p>
                  </div>  
              </div>  
            </div>
        </div>  
        <div class="logo-footer">
            <img src="./img/la_vie_icon.png" alt="logo">
        </div>   
        <div>
            <div>
              <div>
                  <h6>RGPD</h6>
              </div>  
              <div class="rgpd">
                  <a href="/politica">politica de privacidad</a>
                  <a href="/terminos">terminos y condiciones</a>
              </div>  
            </div>
        </div>  
        <div>
          <div>
              <div>
                  <h6>Más de nosotros</h6>
              </div>  
              <div class="nosotros">
                  <a href="/historia">historia</a>
                  <a href="/mision">mision,vision y valores</a>
                  <a href="/contacto">contactenos</a>
              </div>  
          </div>  
        </div>  
        <div class="redes-sociales">
            <div>
              <div>
                  <h6>Redes Sociales</h6>
              </div>  
              <div class="redes-sociales">
                  <div class="wpp-icon">
                      <img src="./img/whatsapp.png" alt="logo wpp">
                  </div>
                  <div class="ig-icon">
                      <img src="./img/instagram.png" alt="logo instagram">
                  </div>
              </div>  
            </div>
        </div>  
    </footer>
</body>
</html>