<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="img/la vie icon mod.png" type="image/x-icon" id="x-icon">
    <title>La vie naturelle - detalle del producto</title>
</head>
<body>
    <header>      
        <div class="icono-hamburguesa">
            <div class="burguer-icon">
                <img src="./img/menu-hamburguesa.png" alt="menu hamburguesa">
            </div>
        </div>
        <div class="titulo">
            <div>
                <a href="/"><h1>La vie naturelle</h1></a>
            </div>
            <div class="img-icon">
                <a href="/"><img src="./img/la_vie_icon.png" alt="logo"></a>
            </div>
        </div>
        <div class="nav">
            <div class="carrito-icon">
                <img src="./img/carrito-de-compras.svg" alt="icono de carrito">
            </div>
        </div>
        <div class="nav">
            <div class="usuario-icon">
                <img src="./img/usuario.png" alt="icono de cliente">
            </div>
        </div>
    </header>
    <main>      
        <article class="article-producto">
            <div class="bloque1">
                <div>
                    <img src="./img/jabon_1.jpg" alt="imagen producto 1" class="img-detalle-producto">
                </div>         
                <div class="precio-cantidad-tipo">
                    <h2>Acondicionador Sólido</h2>
                    <div class="precio-detalle">
                        <h3>$599.99</h3>
                        <input type="number" min="0" max="100" placeholder="cantidad">
                    </div>
                    <div class="tipo-cabello">
                        <h3>Tipo cabello:<h3>
                        <div class="selector">
                            <select>
                                <option value="cabello seco">cabello seco</option>
                                <option value="cabello rizado">cabello rizado</option>
                                <option value="cabello liso">cabello liso</option>
                            </select>
                        </div>
                    </div>
                    <div class="carrito-index">
                        <p>añadir al carrito</p>
                    </div>
                </div>
            </div>
            <!--bloque 2-->
            <nav class="bloque2">
                <details class="informacion-producto">
                    <summary>Descripcion</summary>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt ducimus optio impedit praesentium modi omnis, excepturi, accusamus itaque expedita </p>
                </details>
                <details class="informacion-producto">
                    <summary>Ingredientes</summary>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt ducimus optio impedit praesentium modi omnis, excepturi, accusamus itaque expedita </p>
                </details>
                <details class="informacion-producto">
                    <summary>Procedimientos</summary>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt ducimus optio impedit praesentium modi omnis, excepturi, accusamus itaque expedita </p>
                </details>
            </nav>

            <!--bloque 3-->
            <div class="ultimos-productos">
                <div class="cuadro2">
                    <div class="titulo-3">
                        <h3>ultimos productos</h3>
                    </div>
                    <div class="background-fondo-productos">
                        <div class="producto-nuevo">
                            <div>
                                <img src="/img/jabon_1.jpg" alt="producto-new1">
                            </div>
                            <div>
                                <div class="titulo-producto">
                                    <p> Producto nuevo 1</p>
                                </div>
                                <div class="precio-index">
                                    <p>precio</p>
                                </div>
                            </div>
                            <div>
                                <div class="carrito-index">
                                    <p>añadir al carrito</p>
                                </div>
                            </div>
                        </div>
                        <div class="producto-nuevo">
                            <div>
                                <img src="/img/jabon_1.jpg" alt="producto-new2">
                            </div>
                            <div>
                                <div class="titulo-producto">
                                    <p>Producto nuevo 2</p>
                                </div>
                                <div>
                                    <p>Precio</p>
                                </div>
                            </div>
                            <div>
                                <div class="carrito-index">
                                    <p>añadir al carrito</p>
                                </div>
                            </div>
    
                        </div>
                        <div class="producto-nuevo">
                            <div>
                                <img src="/img/jabon_1.jpg" alt="producto-new3">
                            </div>
                            <div>
                                <div class="titulo-producto">
                                    <p>Producto nuevo 3</p>
                                </div>
                                <div>
                                    <p>Precio</p>
                                </div>
                            </div>
                            <div>
                                <div class="carrito-index">
                                    <p>añadir al carrito</p>
                                </div>
                            </div>
                        </div>
                        <div class="producto-nuevo">
                            <div>
                                <img src="/img/jabon_1.jpg" alt="producto-new4">
                            </div>
                            <div>
                                <div class="titulo-producto">
                                    <p>Producto nuevo 4</p>
                                </div>
                                <div>
                                    <p>precio</p>
                                </div>
                            </div>
                            <div>
                                <div class="carrito-index">
                                    <p>añadir al carrito</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <aside>
            <div>
                <h3>Promociones</h3>
            </div>
            <div>
                <img src="./img/promoción.jpeg" alt="promoción del dia">  
            </div> 
                <div class="subtitulo-categorias">
                    <h3>Categorias</h3>
                </div>
                    <div class="categorias">
                        <div class="cat">
                            <a href="#">Jabón Sólido</a>
                        </div>
                        <div class="cat">
                            <a href="#">Shampoo Sólido</a>
                        </div>
                        <div class="cat">
                            <a href="#">Desodorante Sólido</a>
                        </div>
                    </div>
                <div>
                    <img src="./img/LavieSinFondo.png" alt="img">  
                </div>      
        </aside>
    </main>
    <footer>
        <div class="info-footer">
            <div class="iconos-info">
                <img src="./img/marcador.png" alt="" class="icon-footer">
                <p>Posadas,Misiones</p>
                <img src="./img/sobre.png" alt="" class="icon-footer">
                <p>lavienaturelle@gmail.com</p>
                <img src="./img/llamada-telefonica.png" alt="" class="icon-footer">
                <p>3764107823</p>
            </div>
        </div>  
        <div class="logo-footer">
            <img src="./img/la_vie_icon.png" alt="logo" class="icon-footer">
        </div>   
        <div class="legal-footer">
            <div>
              <div>
                  <h4 class="subtitulo-footer">RGPD</h4>
              </div>  
              <div class="rgpd">
                  <a href="/politica">politica de privacidad</a>
                  <a href="/terminos">terminos y condiciones</a>
              </div>  
            </div>
        </div>  
        <div class="nosotros-footer">
          <div>
              <div class="subtitulo-footer">
                  <h4>Nosotros</h4>
              </div>  
              <div class="nosotros">
                  <a href="/historia">historia</a>
                  <a href="/mision">mision,vision y valores</a>
                  <a href="/contacto">contactenos</a>
              </div>  
          </div>  
        </div>  
        <div class="redes-sociales2">
            <div>
              <div>
                  <h4>Redes Sociales</h4>
              </div>  
              <div class="redes-sociales">
                  <div class="wpp-icon">
                      <img src="./img/whatsapp.png" alt="logo wpp" class="icon-footer">
                  </div>
                  <div class="ig-icon">
                      <img src="./img/instagram.png" alt="logo instagram" class="icon-footer">
                  </div>
              </div>  
            </div>
        </div>  
    </footer>
</body>
</html>