<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Registro</title>
</head>
<body>
    <header>
        <h1>Cosmetica Eco Friendly</h1>
        <img src="" alt="logo">
    </header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/DetalleDeProducto">Productos</a></li>
            <li><a href="/CarritoDeCompras">Carrito</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/registro">Registro</a></li>
        </ul>
    </nav>
    <article>
        <section>
            <h2>Formulario De Registro</h2>
            <form action="post">
                <input type="text"><br>
                <input type="text"><br>
                <input type="checkbox" name="hidden" id="hidden">
                <input type="password" name="pass" id="pass"><br>
                <input type="checkbox" name="hidden" id="hidden">
                <input type="password" name="confirmPass" id="confirmPass"><br>
                <input type="email" name="email" id=""><br>
                <input type="email" name="confirmEmail" id="confirmEmail"><br>
                <input type="button" value="Registrarse"><br>
            </form>
        </section>
    </article>
    <aside>

    </aside>
    <footer>

    </footer>
</body>
</html>