@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    margin: 0px;
}
main#nosotros {
    display: flex;
    flex-direction: column;
}
.mision,
.vision,
.valores {
    margin-bottom: 3rem;
    display: flex;
    margin: 2rem;
    border-radius: 30px;

    box-shadow: 6px 6px 6px #6b6a6a;
}

.titulo-nosotros {
    position: absolute;
    top: 25%;
    left: 36%;
}

img {
    opacity: 0.5;
}

.banner-nosotros {
    position: relative;
    display: inline-block;
    text-align: center;
}

#nosotros article .parrafo-nosotros p {
    padding: 0rem;
    margin: 1rem;
    text-align: justify;
}

.mision, .vision, .valores {
    background-color: antiquewhite;
}

#nosotros article h3 {
    text-align: center;
}

#nosotros article p {
    padding: 20px 15px 20px;
    text-align: center;
}

.card {
    max-width: 100%;
}
/* -------------- Medias ----------------- */

/* -------------tablet---------------- */
@media(min-width:481px){

    .mision, .vision, .valores {
        max-width: 300px;
    }
    #nosotros {
        align-items: center;
    }
    .parrafo-nosotros{
        margin: 5px;
        position: absolute;
        top: 25%;
    }
    .titulo-nosotros {
        position: absolute;
        top: 5%;
        left: 40%;
        text-align: justify;
        margin: auto;
    }
}



/* -------------escritorio-------------- */
@media(min-width:900px) {

    .mision, .vision, .valores {
     display: flex;
     flex-wrap: nowrap;
    }
    /* footer general*/
    footer {
        flex-direction: row;
        margin: 1rem;
        justify-content: space-between;
    }

    .redes-sociales2 {
        justify-content: flex-start;
    }

    .logo-footer {
        align-self: flex-start;
    }

}