@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
main#nosotros {
    display: flex;
    flex-direction: column;
    background: #cdbd9d;
}
.mision,
.vision,
.valores {
    margin-bottom: 3rem;
    display: flex;
    margin: 2rem;
    border-radius: 30px;

    box-shadow: 6px 6px 6px #6b6a6a;
}
.mision:hover, .vision:hover, .valores:hover {
    background-color: #f7e6d0;
    border-radius: 30px;
}

.mision, .vision, .valores {
    background-color: antiquewhite;
}

#nosotros article h3 {
    text-align: center;
}

#nosotros article p {
    padding: 20px 15px 20px;
    text-align: center;
}

.card {
    max-width: 100%;
}

/* nuevos estilos */
.wrap {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 /.5)), url("/img/banners_fondos_images/fondo-nosotros.jpg");
    background-size: cover;
    background-position: center;
}
.wrap-texto {
    color: antiquewhite;
    text-align: center;
    width: 50%;

}

/* -------------- Medias ----------------- */

/* -------------tablet---------------- */
@media(min-width:481px){

    .mision, .vision, .valores {
        max-width: 300px;
    }
    #nosotros {
        align-items: center;
    }
}



/* -------------escritorio-------------- */
@media(min-width:900px) {

    .card-info-nosotros {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
    }
    .mision, .vision, .valores {
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
    }

    .wrap-texto p {
        font-size: 1.7rem;
    }
    

}