@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    margin: 0px 0px;
    background-color: #cdbd9d;
}
.menu{
    background: rgb(158, 60, 60);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 3rem;
}
.boton {
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    color: black;
    text-decoration: none;
}
.boton.heartBoton {
    background: white;
    display: flex;
    align-items: center;
}

.boton.heartBoton:hover {
    background: rgb(179, 179, 179);
}

.barra.barradebusqueda {
    display: flex;
    text-align: center;
    direction: rtl;
}

input[type="search"] {
    border-radius: 30px;
    text-align: center;
    width: 274px;
    background-color: #fafafa;
}
.icono.de.busqueda {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.catalogo {
    display: flex;
    flex-direction: column;
    background: #f0e7d9;
    inline-size: -webkit-fill-available;
    padding-left: 15px;
    margin-top: 10px;
}

main {
    display: flex;
    flex-wrap: nowrap;
}

fieldset{
    margin: 30px;
    padding: 20px 4px 20px 4px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productos{
    display:flex;

}
.producto {
    display: flex;
    background: #cfc3ab;
    flex-direction: column;
    text-align: center;
    width: 200px;
    margin-right: 5px;
}

.img.product {
    width: 199px;
    height: 230px;
    margin-top: 10px;
}

.precio{
    display: flex;
    justify-content:space-around;
}

.old.price {
    text-decoration: line-through;
}

.oferta{
    color: rgb(70 169 70);
}

.stock {
    border: solid 1px;
    align-self: center;
    margin-bottom: 10px;
}

h5.stocker {
    text-align: center;
    text-transform: capitalize;
    margin-block: auto;
    padding: 6px 10px 6px 10px;
}

aside {
    display: flex;
    background: rgb(158, 60, 60);
    margin-right: 7px;
    padding: 3rem;
}

ion-icon {
    color: black;
    font-size: 25px;
}