#contact {
    justify-content: center;
    flex-direction: row;
}

#contacto {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    display: grid;
    background-color: #fce4d4;
    width: 99%;
    padding: 10px 10px 10px 10px;
    border-radius: 35px;
}

#formulario_mensaje{
    display: none;
}
.formulario_mensaje_activo{
    display: block;
}

#contacto form>* {
    margin-top: 25px;
}

.contacto {
    padding: 1px 12%;
    border-radius: 30px;

}

.button {
    background-color: #889b65;
    padding: 8px 18px;
    margin: 1.8% 0%;
    border: 1px;
    border-radius: 15px;
    margin: auto 1rem;
    color: white;
    }
    
.button:hover {
    background-color: #9fb478;
    color: #000;
 }
 @media(min-width:480px) {
    .contacto {
        padding: 1px 12%;
        border-radius: 30px;
        margin: 6px;
    }
        #contact {
            justify-content: center;
            flex-direction: row;
            margin: 10px;
        }
}

@media(min-width:900px) {
    .contacto {
    padding: 1px 12%;
    font-size: xx-large;
    border-radius: 30px;
    margin: 8px;
}
}