#contact {
    justify-content: center;
    flex-direction: row;
}

#contacto {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    display: grid;
    background-color: #fce4d4;
    width: 99%;
    padding: 10px 10px 10px 10px;
    border-radius: 35px;
    color: #3d2a08;
    font-weight:bold;
}
.errores {
    color: #D8000C;
    border-color: #ccc;
    opacity: 4;
    font-weight:bold;
}
.contact{
    padding: 1px 12%;
    font-size: xx-large;
    border-radius: 200px;
    margin: 8px;
    height: 150px;
}

#formulario_mensaje{
    display: none;
}
.formulario_mensaje_activo{
    display: block;
}

#contacto form>* {
    margin-top: 25px;
}

.contacto {
    padding: 1px 8%;
    border-radius: 20px;

}
h2{
    color: #3d2a08;
    font-size: 34px;
}
.button {
    background-color: #889b65;
    padding: 8px 18px;
    margin: 1.8% 0%;
    border: 1px;
    border-radius: 15px;
    margin: auto 1rem;
    color: white;
    }
    
.button:hover {
    background-color: #9fb478;
    color: #000;
 }
 @media(min-width:480px) {
    .contacto {
        padding: 1px 12%;
        border-radius: 30px;
        margin: 6px;
    }
        #contact {
            justify-content: center;
            flex-direction: row;
            margin: 10px;
        }
}

@media(min-width:900px) {
    .contacto {
    padding: 1px 15%;
    font-size: 28px;
    border-radius: 30px;
    margin: 8px;
}
.contact{
    padding: 1px 12%;
    font-size: xx-large;
    border-radius: 200px;
    margin: 8px;
    height: 150px;
}
}