@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px 0px;
    background-color: #cdbd9d;
}

/*header general*/
header {
    color: white;
    background-color: #cdbd9d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4%;

}

.nav-2 {
    display: flex;
}

.titulo a {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill
}

.img-icon {
    height: 100px;
    width: 70px;
}

.usuario-icon {
    height: 25px;
    width: 25px;
    cursor: pointer;

}

.des_icono:checked+.menu-navegacion {
    background-color: red;
}

.carrito-icon {
    height: 25px;
    width: 25px;
}

.burguer-icon {
    height: 25px;
    width: 25px;
}

.nav__input {
    display: none;
}

.menu-navegacion {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, #9fb478 0%, #cdbd9d 100%);
    width: 30vw;
    height: 100%;
    align-items: center;
    transition: transform .3s ease-in-out;
    box-shadow: 0 0 6px rgba(0, 0, 0, .0);
    transform: translate(-110%);
    z-index: 10;
}

.nav__input:checked+.menu-navegacion {
    transform: translate(0%);
}

.menu-navegacion a {
    color: white;
    text-decoration: none;
    padding: 10px 13px 10px 13px;
    border-radius: 30px;
}

.menu-navegacion a:hover {
    color: #000;
    background-color: #9fb478;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
#fragrance {
    padding: 5px 7%;
    border-radius: 30px;
}
.titulo {
    display: flex;
    align-items: center;


}

.icono-hamburguesa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-invalid{
    color: red;
    font-size: 12px;
    border-color: red;
}

.is-valid{
    color: black;
    font-size: 12px;
    border-color: green;
}

.alert-error{
    color: red;
}


/*----------Footer-------------*/
footer {
    background-color: #cdbd9d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    margin: 2rem;
}

footer a {
    color: black;
}

.info-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info-footer p img {
    text-align: center;
}

.iconos-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconos-info img {
    width: 25px;
    height: 25px;
}

.logo-footer {
    height: 50px;
    width: 50px;
    align-self: center;
}

.ig-icon {
    height: 25px;
    width: 25px;
}

.wpp-icon {
    height: 25px;
    width: 25px;
    margin: 0px 0px 7px 0px;
}

.redes-sociales2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.redes-sociales {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legal-footer {
    display: flex;
    justify-content: center;
}

.nosotros-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subtitulo-footer {
    text-align: center;
}

.rgpd {
    display: flex;
    flex-direction: column;
}

/*Estilo main*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
}

section {
    text-align: center;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    width: 100vw;
    border-radius: 25px;
    background-color: #fce4d4;
}

form>* {
    display: flex;
    flex-direction: column;
    margin: 15px 30px;
}

label {
    margin-bottom: 2px;
}

.botons {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.botons .volver {
    background-color: antiquewhite;
    color: #000;
}
.botons .volver:hover{
    background-color: #c0da8f;
    color: antiquewhite;
}

.botons>* {
    text-align: center;
    margin: 4px 2px;
    background-color: #9fb478;
    color: #f8f3f0;
    padding: 18px 32px;
    width: 100vw;
    cursor: pointer;
    border-style: none;
    border-radius: 30px;
    transition: all 0.25s;
}

.botons>*:hover {
    color: #454545;
    background-color: #c0da8f;
}

#search>* {
    margin: 5px;
    width: 30%;
    border-radius: 30px;
}

.textArea {
    background-color: #ffffff;
    padding: 1% 14%;
    margin: 1.8%;
    text-align: center;
    border: #fbdddd inset 1px;
    border-radius: 30px;
}

#Category {
    padding: 5px 7%;
    border-radius: 30px;
    text-align: center;

}

#productImg {
    width: 60%;
    padding: 0px 0px 0px 216px
}

@media(min-width:481px){
    .botons {
        width: 30vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width:900px) {

    /* footer general*/
    footer {
        flex-direction: row;
        margin: 1rem;
        justify-content: space-between;
    }

    .redes-sociales2 {
        justify-content: flex-start;
    }
    section {
        width: 70vw;
    }

    input, select, textArea {
        width: 40vw;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}