@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    margin: 0px 0px;
    background-color: #cdbd9d;
}

.article-favoritos {
    background-color: #ffffff;
    display: flex;
    border-radius: 4px;
}

.tabla-favoritos {
    width: 100%;
    border-collapse: collapse;
}

.card-info {
    display: flex;
}

.basurero {
    display: flex;
    align-items: center;
}

.subtitulo-favoritos {
    /* text-align: left; */
    /* padding: 2px; */
    color: black;
    /* background-color: #a79776; */
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 0.2vw;
}

.style-name {
    font-size: 18px;
    font-weight: bold;
    color: #8d7d63;
}

.td-favoritos {
    padding: 10px 5px;
}

.boton-compra {
    align-self: center;
}

.subtitulos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    align-content: center;
    background-color: #a79776;
    /* height: 4vw; */
}

td input {
    padding: 5px;
    background-color: #fff7e7;
    width: 40px;
    border: 1px solid #a79776;
    height: 30px;
    margin-top: 2px;
    font-size: 15px;
    padding-left: 8px;
}

.price {
    display: flex;
    text-align: right;
    height: 30px;
    border-radius: 5px;
    color: #8d7d63;
    font-size: 15px;
    align-items: center;
    margin-left: 5.3vw;
}

.td-carrito img {
    border-radius: 20px;
    margin-right: 27px;
    height: 140px;
}

.total-favoritos {
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    color: #8d7d63;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.total-favoritos table {
    max-width: 480px;
}

td:last-child {
    border-radius: 5px;
    color: #8d7d63;
    width: 100vw;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom-style: solid;
}

th:last-child {
    text-align: right;
}

.product_img {
    width: 20vw;
}

.boton {
    background-color: #889b65;
    padding: 8px 18px;
    margin: 1.8% 0%;
    border: 1px;
    border-radius: 15px;
    margin: auto 1rem;
    color: white;
}

.boton:hover {
    background-color: #9fb478;
    color: #000;
}

.buton {
    background-color: #889b65;
    padding: 8px 18px;
    margin: 1.8% 0%;
    border: 1px;
    border-radius: 15px;
    margin: auto 1rem;
    color: white;
}

.title {
    color: var(--e-global-color-text);
    font-family: "Rubik", Sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/img/banners_fondos_images/fondo-favo.jpg");
    background-size: 200px;
    background-position: bottom;
    height: 140px;
}

#favorito-icon {
    color: #c5647c;
    height: 70px;
    width: 30px;
    background-position: left;
}

#favorito-icon:hover {
    color: palevioletred;
}

@media(min-width:900px) {
    .article-favoritos {
        background-color: #f7f1ef;
        width: 98vw;
        display: flex;
        border-radius: 20px;
        flex-direction: column;
    }

    .td-favoritos img {
        /* width: 15%; */
        /* border-radius: 25px; */
        margin-right: 15px;
        height: 130px;
    }

    .total-favoritos table {
        border-top: 3px solid black;
        width: 100%;
        max-width: 250px;
    }
}

@media(min-width:479px) {
    .article-favoritos {
        background-color: #f7f1ef;
        display: flex;
        border-radius: 20px;
        flex-direction: column;
    }

    .td-carrito img {
        /* width: 20%; */
        border-radius: 20px;
        margin-right: 27px;
        height: 140px;
    }

    .style-name {
        display: flex;
        width: 85%;
        font-size: 15px;
        font-weight: bold;
        color: #8d7d63;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .total-favoritos table {
        border-top: 2px solid black;
        width: 10%;
        max-width: 480px;
    }
}