@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    margin: 0px 0px;
    background-color: #cdbd9d;
}

.pos {
    position: fixed;
    width: 100vw;
    height: 4.7vw;
    z-index: 10;
    background: #cdbd9d;
    top: 0px;
}

.nav.navegacion {
    display: flex;
    margin: 1.2vw 40px 0px 20px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2vw;
}

.nav.usuario {
    display: flex;
    flex-direction: column;
}

.boton {
    border-radius: 30px;
}

.boton.menu {
    display: flex;
    align-self: center;
    padding: 3px;
}

.boton.menu:hover {
    background-color: #fce4d4;
    padding: 0px 15px 0px 15px;
    color: #000;
}

.foto.usuario {
    position: fixed;
    width: 3.3vw;
    height: 3.3vw;
    border-radius: 200px;
    border: solid 1px;
    align-items: center;
    left: 76vw;
    top: 0.5vw;
}

a {
    color: black;
    text-decoration: none;
}

.foto.usuario:hover {
    border: solid 2px white;
}

.carrito{
    width: 26px
}

#menu {
    position: absolute;
    background:#a39883;
    width: 15vw;
    height: 145px;
    top: 3000px;
    z-index: 10;
    border-radius: 7px;
}

#menu.mostrar {
    top: 3.8vw;
    left: 70vw;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    display: flex;
    margin-top: 14px;
    justify-content: flex-start;
}
a.a-nav:hover{
    color: rgb(185, 121, 74);
}

.wrap {
    height: 50vw;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 /.5)), url(/img/banners_fondos_images/fondo-index.webp);
    background-size: 100vw 45vw;
    background-position: center;
    background-repeat: no-repeat;
}

h1.titulo-header {
    display: flex;
    font-size: 8vw;
    justify-content: flex-start;
}

p.parrafo-header {
    font-size: 2vw;
    display: flex;
    justify-content: flex-start;
}

.titulo-parrafo {
    color: white;
}


#section-index {
    background-color: #cdbd9d;
    display: flex;
    flex-direction: column;
}

.cuadro {
    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
}

.cuadro .tarjeta {
    width: 250px;
    height: 460px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    transition: all 0.25s;
    background-color: #ffebe0;
    text-align: center;
}

.cuadro .tarjeta:hover {
    transform: translateY(-15px);
    box-shadow: o 12px 16px 0 rgba(0, 0, 0, 0.2);
}

.cuadro .tarjeta img {
    width: 185px;
    height: 190px;
    margin-top: 50px;
}

.cuadro .tarjeta h3 {
    font-weight: 600;
    text-align: center;
}

.cuadro .tarjeta p {
    padding: 0.3rem;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.cuadro .tarjeta a {
    text-decoration: none;
}

.ultimos-productos {
    background-color: #cdbd9d;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cuadro2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.background-fondo-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 3%;
    padding: 3%;

}

.cuadro2 {
    display: flex;
    flex-direction: column;
}

.producto-nuevo {
    background-color: #fce4d4;
    margin: 1%;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 30px;
    text-align: center;
    box-shadow: #464646;
}

.new-producto img {
    padding: 10%;
    width: 280%;
    height: 300px;
    border-radius: 20%;
}

.info {
    display: flex;
    justify-content: center;
}
@media(max-width:480px){

    .pos {
        position: fixed;
        width: 100vw;
        height: 9.7vw;
        z-index: 10;
        background: #cdbd9d;
        top: 0px;
    }

    .carrito {
    width: 4vw;
}

    #menu.mostrar {
        top: 7vw;
        left: 67vw;
    }
    
    

    #menu {
        
        position: absolute;
        background: #a39883;
        width: 33vw;
        height: 145px;
        top: 3000px;
        z-index: 10;
        border-radius: 7px;
    }

    .nav.navegacion {
        display: flex;
        margin: 4vw 45px 0px 20px;
    }
    
    .foto.usuario {
        position: fixed;
        width: 5vw;
        height: 5vw;
        border-radius: 200px;
        border: solid 1px;
        align-items: center;
        left: 78vw;
        top: 2vw;
    }
}