@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px 0px;
    background-color: #cdbd9d;
}



/*Estilo main*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
}

section {
    text-align: center;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    width: 80%;
    border-radius: 25px;
    background-color: #fce4d4;
}

form>* {
    display: flex;
    flex-direction: column;
    margin: 15px 30px;
    align-items: center;
}

label {
    margin-bottom: 2px;
}

.botons {
    flex-direction: row;
    justify-content: center;
}

.botons>* {
    margin: 10px;
    background-color: #9fb478;
    color: #f8f3f0;
    padding: 10px 0px 10px 0px;
    width: 30%;
    border-style: none;
    border-radius: 30px;
    transition: all 0.25s;
}

.botons>*:hover {
    color: #454545;
    background-color: #c0da8f;
}

#search>* {
    margin: 5px;
    width: 30%;
    border-radius: 30px;
}

.textArea {
    background-color: #ffffff;
    padding: 1% 14%;
    margin: 1.8%;
    text-align: center;
    border: #fbdddd inset 1px;
    border-radius: 30px;
}

#Category {
    padding: 5px 7%;
    border-radius: 30px;

}

#grams {
    padding: 5px 7%;
    border-radius: 30px;

}

#productImg {
    width: 60%;
    padding: 0px 0px 0px 216px
}
.alerta{
    color: red;
    border: solid;
    border-radius: 30px;
    background: rgb(232, 232, 232);
    font: -webkit-control;
}
@media(min-width:900px) {

    
}