body{
    margin: 0px;
}

.mision, .vision, .valores{
    margin-bottom: 3rem;
    display: flex;
    margin: 2rem;
    border-radius: 30px;

    box-shadow: 6px 6px 6px #6b6a6a;
}

.titulo-nosotros{

    right: -110px;
    bottom: 170px;
}

.img-nosotros img{
    opacity: 0.6;
}

.banner-nosotros{
margin: 30px;
}

 #nosotros article .parrafo-nosotros p{
    padding: 0rem;
    margin: 1rem;
}
.mision{
    display: flex;
    background-color: antiquewhite;
}

.vision{
    background-color: antiquewhite;
}

.valores{
    background-color: antiquewhite;
}

#nosotros article h3{
    text-align: center;
}

#nosotros article p{
    padding: 50px 15px 30px;
}