.article-carrito {
    background-color: #ffebe0;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    margin: 20px auto;
}

.tabla-carrito {
    width: 100%;
    border-collapse: collapse;
}

.card-info {
    display: flex;
    flex-wrap: wrap;
}

.subtitulo-carrito {
    text-align: left;
    padding: 2%;
    color: #fff;
    background-color: #9fb478;
    font-size: 15px;
    text-transform: uppercase;
}
.style-name{
    font-size: 18px;
    font-weight: bold;
    color:  #8d7d63;
}
.td-carrito {
    padding: 10px 5px;
}

.boton-compra {
    align-self: center;
}

.subtitulos {
    height: 21px;
}

td input {
    padding: 5px;
    background-color: #fff7e7;
    width: 40px;
    border: 1px solid #a79776;
    height: 30px;
    margin-top: 2px;
    font-size: 15px;
    padding-left: 8px;
}
.price {
    text-align: right;
    height: 30px;
    border-radius: 5px;
    color: #8d7d63;
    font-size: 15px;
}
.td-carrito img {
    width: 20%;
    border-radius: 20px;
    margin-right: 27px;
    height: 140px ;
}

.total-carrito {
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    color:  #8d7d63;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.total-carrito table {
    border-top: 3px solid black;
    width: 100%;
    max-width: 480px;
}

td:last-child {
    text-align: right;
    height: 30px;
    border-radius: 5px;
    color:  #8d7d63;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

th:last-child {
    text-align: right;
}

.boton{
    background-color: #889b65;
    padding: 8px 18px;
    margin: 1.8% 0%;
    border: 1px;
    border-radius: 15px;
    margin: auto 1rem;
    color: white;
}

.boton:hover {
    background-color: #9fb478;
    color: #000;
}
@media(min-width:481px) {
    .article-carrito {
        background-color: #ffebe0;
        width: 95vw;
        display: flex;
        border-radius: 20px;
        flex-direction: column;
        margin: 20px auto;
    }
        .td-carrito img {
            width: 30%;
            border-radius: 20px;
            margin-right: 25px;
        }
        .style-name {
            font-size: 15px;
            font-weight: bold;
            color: #8d7d63;
        }
}

@media(min-width:900px) {
    .article-carrito {
        background-color: #ffebe0;
        width: 98vw;
        height: 45vw;
        display: flex;
        border-radius: 20px;
        flex-direction: column;
        margin: 95px auto;
    }
    .td-carrito img {
        width: 15%;
        border-radius: 25px;
        margin-right: 15px;
        height: 130px ;
    }

}
