main {
    display: flex;
    width: 100%;
}

.article-producto {
    display: flex;
    flex-direction: column;
    background-color: #ffebe0;
    margin: 1rem;
    max-width: 100vw;
    border-radius: 15px;


}
.select {
    background: rgb(146, 106, 13);
    width: 120%;
    height: 30px;
    border-radius: 5px;
    border: solid 1px rgb(193, 176, 136);
    color: white;
}
/* .number {
    background: rgb(34, 24, 2);
    width: 7rem;
    height: 30px;
    border-radius: 5px;
    border: solid 1px rgb(193, 176, 136);
    color: white;
    text-align: center;
}*/
.summary1 {
    border-radius: 5px;
    color:#645234;
    width: 50%;
    font-size: 20px;
    text-transform: uppercase;
}
.summary1:hover {
    color: #9e855a;
}
.summary2 {
    height: 30px;
    border-radius: 5px;
    color:#645234;
    width: 50%;
    font-size: 20px;
    text-transform: uppercase;
}
.summary2:hover{
    color: #9e855a;
}
.summary3{
    height: 30px;
    border-radius: 5px;
    color:#645234;
    width: 50%;
    font-size: 20px;
    text-transform: uppercase;
}
.summary3:hover {
    color: #9e855a;
}
.mododeuso-img {
    width: 30vw;
    height: 30vh;
}
.bloque1 {
    background-color: #ffebe0;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

img.img-detalle-producto {
    width: 50vw;
    height: 50vh;
}
input#input_product {
    background-color: #fff1d5;
    border: 1px solid #cdbd9d;
}
#favorito-icon {
    color:#9e855a;
}
#favorito-icon:hover{
    color: palevioletred;
}
.precio-cantidad-tipo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    align-self: flex-start;
    width: 50vw;
}
.name {
    color: rgb(78, 57, 25);
    text-transform: uppercase;
}
.price {
    font-size: 25px;
    margin-top: 10px;
    position: relative;
    font-weight: bold;
    color:#89785d;
}
.cantidad {
    position: relative;
    color:rgb(78, 57, 25) ;
}
.img {
    width: 298px;
    height: 341px;
}
.precio-detalle h3 {
    text-align: center;
}

.tipo-cabello h3 {
    text-align: left;
    position: relative;
    color:rgb(78, 57, 25) ;
}

.precio-cantidad-tipo .carrito-index {
    align-self: center;
}

.bloque2 {
    display: flex;
    flex-direction: column;
    background-color: #ffebe0;
    width: 76vw;
}


.informacion-producto {
    display: flex;
    margin: 2%;
}

.texto-producto {
    flex-direction: column;
}

.informacion-producto h5 {
    padding: 2rem;
}

.texto-producto p {
    padding: 2rem;
}

aside {
    max-width: 20vw;
}

.categorias {

    flex-direction: column;
    justify-content: space-between;

}

.cat {
    margin: 5%;
    align-items: center;
    align-self: center;
    border: 2px solid #fff1d5;
    color: white;
    transition: all .25s;
}

.cat a {
    text-decoration: none;
    color:#fff4de;
}

.cat:hover {
    background: #9fb478;
    color: #000;
}
aside a {
    text-align: center;
}

.card-info a img {
    width: 10px;
    height: 10px;
    margin-left: 15%;
}

.boton-compra button {
    display: flex;
    margin: 10px auto;
    justify-content: center;
    background-color: #889b65;
    color: #f8f3f0;
    padding: 10px;
    width: 100%;
    border-style: none;
    border-radius: 30px;
}

.boton-compra button:hover {
    background: #9fb478;
    ;
    color: #000;
}

.boton-compra {
    margin: 5% 40%;
}
.molesto {
    padding: 0px 14px 0px 0px;
}
.ultimos-productos {
    background-color: #cdbd9d;
}

.cuadro2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.background-fondo-productos {
    display: flex;

    justify-content: center;

    border-radius: 10px;
    margin: 3%;

}

.producto-nuevo {
        background-color: #fce4d4;
        margin: 1%;
        border: 1px solid rgba(255, 255, 255, 1);
        border-radius: 30px;
        text-align: center;
        box-shadow: #464646;
    }

.new-producto img {
    padding: 10%;
    width: 280%;
    height: 300px;
    border-radius: 20%;
}

.titulo-producto {
    font-weight: bold;
}


.carrito-index {
Border: 2px sólido rgba (0, 0, 0, 0.2);
Border-radius: 50px;
Padding: 12px 30px 12px 30px;
Margin: 1rem;
Font-size: 10px;
Color: white;
Opacity: 0.8;
Background-color: #889b65;
Transition: all .25s;
}

.carrito-index:hover {
    background: #9fb478;
    ;
    color: #000;
}
aside h3 {
    text-align: center;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 2px #fff4de;
}

@media(min-width:479px) {
    aside h3 {
        text-align: initial;
        height: 20px;
        border-radius: 5px;
        color: rgb(78 57 25);
        font-size: 15px;
        text-transform: uppercase;
        text-shadow: 3px 3px 2px #fff4de;
    }
    .new-producto img {
        padding: 10%;
        width: 280%;
        border-radius: 20%;
    }
    .cat {
        margin: 5%;
        align-items: center;
        align-self: center;
        border: 2px solid #fff1d5;
        color: white;
        opacity: 2;
        border-radius: 44px;
        font-size: 10px;
        transition: all .25s;
        text-align: center;
    }
    img.img-detalle-producto {
    width: 50vw;
    height: 160vh;
    }
    .price {
        font-size: 25px;
        margin-top: 10px;
        position: relative;
        font-weight: bold;
        line-height: 5px;
        color: #89785d;
    }
    .name {
        color: rgb(78, 57, 25);
        width: 50%;
        font-size: 20px;
        text-transform: uppercase;
    }
    input#input_product {
        background-color: #fff1d5;
        width: 50px;
        border: 1px solid #cdbd9d;
        height: 22px;
        margin-top: 1px;
        font-size: 14px;
        padding-left: 5px;
    }
    input#input_product {
        background-color: #fff1d5;
        width: 50px;
        border: 1px solid #cdbd9d;
        height: 30px;
        margin-top: 2px;
        font-size: 15px;
        padding-left: 8px;
    }
    .select {
        background: rgb(146, 106, 13);
        width: 100%;
        height: 25px;
        border-radius: 5px;
        border: solid 1px rgb(193, 176, 136);
        color: white;
        font-size: 13px;
    }
    .tipo-cabello h3 {
        text-align: left;
        position: relative;
        font-size: 18px;
        color: rgb(78, 57, 25);
    }
    .cantidad {
        position: relative;
        font-size: 18px;
        color: rgb(78, 57, 25);
    }
    .summary1 {
        height: 20px;
        border-radius: 5px;
        color: #645234;
        width: 50%;
        font-size: 20px;
        text-transform: uppercase;
    }
    .summary2 {
        height: 20px;
        border-radius: 5px;
        color: #645234;
        width: 50%;
        font-size: 20px;
        text-transform: uppercase;
    }
    .summary3 {
        height: 20px;
        border-radius: 5px;
        color: #645234;
        width: 50%;
        font-size: 20px;
        text-transform: uppercase;
    }

@media(min-width:900px) {
    aside h3 {
        text-align: center;
        height: 30px;
        border-radius: 5px;
        color: rgb(78 57 25);
        font-size: 20px;
        text-transform: uppercase;
        text-shadow: 3px 3px 2px #fff4de;
    }
    .cat {
        margin: 5%;
        align-items: center;
        align-self: center;
        border: 2px solid #fff1d5;
        color: white;
        opacity: 2;
        border-radius: 44px;
        font-size: 15px;
        padding: 15px 8px 16px 10px;
        transition: all .25s;
    }
    img.img-detalle-producto {
        width: 50vw;
        height: 160vh;
    }
    .price {
        font-size: 25px;
        margin-top: 10px;
        position: relative;
        font-weight: bold;
        line-height: 30px;
        color: #89785d;
    }
    .name {
        color: rgb(78, 57, 25);
        width: 50%;
        font-size: 24px;
        text-transform: uppercase;
    }
    .select {
    background: rgb(146, 106, 13);
    width: 120%;
    height: 30px;
    border-radius: 5px;
    border: solid 1px rgb(193, 176, 136);
    color: white;
    font-size: 14px;
    }
    .tipo-cabello h3 {
        text-align: left;
        position: relative;
        font-size: 20px;
        color: rgb(78, 57, 25);
    }
    .cantidad {
        position: relative;
        font-size: 20px;
        color: rgb(78, 57, 25);
    }
    .summary1 {
        height: 30px;
        border-radius: 5px;
        color:#645234;
        width: 50%;
        font-size: 20px;
        text-transform: uppercase;
    }
    .summary2 {
        height: 30px;
        border-radius: 5px;
        color: #645234;
        width: 50%;
        font-size: 20px;
        text-transform: uppercase;
    }
    .summary3 {
        height: 30px;
        border-radius: 5px;
        color: #645234;
        width: 50%;
        font-size: 20px;
        text-transform: uppercase;
    }
}
}