.container {
    display: flex;
    flex-wrap: nowrap;
    background: #fce4d4;
    background-image: url(/img/products_images/jabon_1.jpg);
    background-repeat: round;
}

.container a {
    text-decoration: none;
    color: #464646;
}
.wrapp-input{
 position: relative;
}
.eye{
    position: absolute;
    top: 45%;
    right: -8%;
}
input[type="checkbox"]{
    display: none;
}
#recordar{
    display: block;
}
.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fce4d4aa;
    flex-grow: 1;
    color: #464646;
    text-align: center;
    padding: 4%;
}

.form form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 1%;
}
.alerta{
    color: red;
    border: solid;
    border-radius: 30px;
    background: rgb(232, 232, 232);
    font: -webkit-control;
}
form>* {
    margin: 13px 0px;
}

form>span {
    margin-top: 0px;
}

form>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 236px;
}

.textArea {
    background-color: #f8f3f0;
    height: 40px;
    width: 330px;
    margin: 1.8%;
    text-align: center;
    border-radius: 30px;
    border: #ddc387b5 inset 1px;
}

.form img {
    width: 25vw;
    height: 25vw;
    max-width: 150px;
    max-height: 150px;
    display: none;
    visibility: hidden;
}

.img {
    width: 45vw;
    visibility: hidden;
    display: none;
}

.button {
    background-color: #889b65;
    padding: 8px 18px;
    margin: 1.8% 0%;
    border: 1px;
    border-radius: 15px;
    margin: auto 1rem;
    color: white;
}

.button:hover {
    background-color: #9fb478;
    color: #000;
}
@media(max-width:500px){
    /*  Estilo de Login y Register Genaro*/
    .form {
        margin: 3% 10%;
        border-radius: 20px;
    }

    .form img {
        display: block;
        visibility: visible;
    }
}
@media(min-width:900px){
    /*  Estilo de Login y Register Genaro*/
    .img {
        visibility: visible;
        display: block;
    }

    .form {
        background-color: #fce4d4;
        margin: 0px;
        border-radius: 0px;
    }

    form>.textArea {
        margin: 8% 0px 0px;
    }

    .hidden {
        align-self: flex-start;
    }

    .container {
        background-image: none;
    }
}