@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;

}

body{
    margin: 0px 0px;
    background-color: #cdbd9d;
}
/*header general*/
header{
    color: white;
    background-color: #cdbd9d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4%;

}

.nav-2{
    display: flex;
}

.titulo a{
    text-decoration: none;
    color: #fff;
}
img{
    max-width: 100%;
    max-height: 100%;
    object-fit:fill
}
.img-icon{
    height: 100px;
    width: 70px;
}
.usuario-icon{
    height: 25px;
    width: 25px;
    cursor: pointer;
    
}

.carrito-icon{
    height: 25px;
    width: 25px;
}

.burguer-icon{
    height: 25px;
    width: 25px;
}
.nav__input{
    display: none;
}
.menu-navegacion{
position: fixed;
top: 0;
left: 0;
display: flex;
flex-direction: column;
justify-content: space-evenly;
background-image: linear-gradient(to top, #9fb478 0%, #cdbd9d 100%);
width: 30vw;
height: 100%;
align-items: center;
transition: transform .3s ease-in-out;
box-shadow: 0 0 6px rgba(0, 0, 0, .0);
transform: translate(-110%); 
z-index: 10;
}

.nav__input:checked + .menu-navegacion{
    transform: translate(0%);
}

.menu-navegacion a{
    color: white;
    text-decoration: none;
    padding: 10px 13px 10px 13px;
    border-radius: 30px;
}
.menu-navegacion a:hover{
    color: #000;
    background-color: #9fb478;
}
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.titulo{
    display: flex;
    align-items: center;


}

.icono-hamburguesa{
    display: flex;
    align-items: center;
    justify-content: center;
}


/*  Estilo de Carrito de Compras Cami*/
.article-carrito{
    background-color:#ffebe0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 3px auto;
}

.tabla-carrito{
    width: 100%;
    border-collapse: collapse;
}

.card-info{
    display: flex;
    flex-wrap: wrap;
}

.subtitulo-carrito{
    text-align: left;
    padding: 2%;
    color: #fff;
    background-color: #9fb478;
}

.td-carrito{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
.td-carrito img{
    width: 50%;
    height: 110px;
    margin-right: 20px;
}

.total-carrito{
    display: flex;
    justify-content: flex-end;
}
.total-carrito table{
    border-top: 3px solid black;
    width: 100%;
    max-width: 480px;
}

td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* footer general*/
footer{
    background-color: #cdbd9d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    margin: 2rem;
}

footer a{
    color: black;
}
.info-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.info-footer p img{
    text-align: center;
}

.iconos-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconos-info img{
    width: 25px;
    height: 25px;
}

.logo-footer{
    height: 50px;
    width: 50px;
    align-self: center;
}

.ig-icon{
    height: 25px;
    width: 25px;
}

.wpp-icon{
    height: 25px;
    width: 25px;
    margin: 0px 0px 7px 0px;
}

.redes-sociales2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.redes-sociales{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legal-footer{
    display: flex;
    justify-content: center;
}
.nosotros-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.subtitulo-footer{
    text-align: center;
}

.rgpd{
    display: flex;
    flex-direction: column;
}


/*  Estilo de Login y Register Genaro*/
.container{
    display: flex;
    flex-wrap: nowrap;
    background: #fce4d4;
    background-image: url(/img/jabon_1.jpg);
    background-repeat:round;
}
.container a{
    text-decoration: none;
    color: #464646;
}
.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fce4d4aa;
    flex-grow: 1;
    color: #464646;
    text-align: center;
    padding:4%;
}
.form form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    align-content: center;
    padding: 1%;
}
form>*{
    margin:10px 0px;
}
form>span{
    margin-top: 0px;
}
form>div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.textArea{
    background-color: #f8f3f0;
    padding: 3% 30%;
    margin:1.8%;
    text-align: center;
    border-radius: 30px;
    border: #ddc387b5 inset 1px;
}
.form img{
    width: 25vw;
    height: 25vw;
    max-width: 150px;
    max-height: 150px;
    display: none;
    visibility: hidden;
}
.img{
    width: 45vw;
    visibility: hidden;
    display: none;
}
.button{
    background-color: #889b65;
    padding: 8px 18px;
    margin:1.8% 0%;
    border: 1px;
    border-radius: 15px;
    margin: auto 1rem;
    color: white;
}
.button:hover{
    background-color:#9fb478 ;
    color: #000;
}

/*  Estilo de home Fabri*/
#section-index{
    background-color: #cdbd9d;
    display: flex;
    flex-direction: column;
}
.cuadro{
    width: 100%;
    max-width: 1200px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
}

.cuadro .tarjeta{
    width: 250px;
    height: 460px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    transition: all 0.25s;
    background-color: #ffebe0;
    text-align: center;
}

.cuadro .tarjeta:hover{
    transform: translateY(-15px);
    box-shadow: o 12px 16px 0 rgba(0, 0, 0, 0.2);
}

.cuadro .tarjeta img{
    width: 181px;
    height: 185px;
    margin-top: 70px;
}

.cuadro .tarjeta h3{
    font-weight: 600;
    text-align: center;
}

.cuadro .tarjeta p{
    padding: 0.3rem;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.cuadro .tarjeta a{
    text-decoration: none;
}

.ultimos-productos{
    background-color: #cdbd9d;
}
.cuadro2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.background-fondo-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 3%;
    padding: 3%;

}
.producto-nuevo{
    background-color: #fce4d4;
    margin: 1%;
    border: 1px solid rgba(255,255,255,1);
    border-radius: 30px;
    text-align: center;
    box-shadow: #464646;
}
.new-producto img{
    padding: 10%;
    width: 280%;
    height: 300px;
    border-radius: 20%;
}

.titulo-producto{
    font-weight: bold;
}


.carrito-index{
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 12px 30px 12px 30px;
    margin: 1rem;
    font-size: 10px;
    color: white;
    opacity: 0.8;
    background-color: #889b65;
    transition: all .25s;
}

.carrito-index:hover{
    background: #9fb478;;
    color:#000;
}
header#index{ 
    background-color: #cdbd9d;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
}
.titulo-parrafo{
    display: flex;
    flex-direction: column;
    font-size: x-small;
    width: 65%
}
.titulo-parrafo h1{
    text-align: center;
    font-size: 45px;
}
.parrafo-header{
    margin-left: 10rem;
    width: 60%;
    color: #000;
    font-weight: bold;
    font-size: 11px;
}

.banner{
    width: 100%;
    display: flex;
    align-items: flex-end;
    text-align: left;
    background: right fixed url(/img/fondo-header.jpg);
    background-repeat: no-repeat;

}


.nav-index{
    display: flex;
    width: 100%;
    margin-top: 1rem;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.contenedor-nav{
    display: flex
}

a.a-nav{
    border: 0px solid rgba(255,255,255,1);
    padding: 0.4em 1em;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-size: 0.8em;
    transition: all .25s;
    font-weight: bold;
}

.nav-2{
    align-self: flex-start;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 17px;
    margin-right:1rem
}
a.a-nav:hover{
    background: #fce4d4;
    color:#000;
    
}

/* estilos detalle del producto joel*/
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.article-producto{
    display: flex;
    flex-direction: column;
    background-color: #ffebe0;
    margin: 1rem;
    max-width: 100vw;
    border-radius: 15px;


}
.bloque1{
    background-color: #ffebe0;
    display: flex;
    flex-direction: row;
     flex-wrap: wrap; 
    padding: 1rem;
    
}

img.img-detalle-producto{
    width: 50vw;
    height: 40vh;
}

.precio-cantidad-tipo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.5rem;   
    align-self: flex-start;
    width: 70vw;
}

.precio-detalle h3{
    text-align: center;
}

.tipo-cabello h3{
    text-align: left;
}

.precio-cantidad-tipo .carrito-index{
    align-self: center;
}

.bloque2{
    display: flex;
    flex-direction: column;
    background-color: #ffebe0;
}


.informacion-producto{
    display: flex;
    margin: 10%;

}

.texto-producto{
    flex-direction: column;
}
.informacion-producto h5{
    padding: 2rem;
}

.texto-producto p{
    padding: 2rem;
}

aside{
    max-width: 100vw;
}

.categorias{

    flex-direction: column;
    justify-content: space-between;

}
.cat{
    margin: 5%;
    align-items: center;
    align-self: center;
    border: 1px solid rgba(255,255,255,1);
    color: white;
    opacity: 0.8;
    border-radius: 50px;
    font-size: 10px;
    padding:16px 10px 16px 80px;
    transition: all .25s;
}
.cat a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;

}
.cat:hover{
    background: #9fb478;
    color:#000;
}
aside h3{
    text-align: center;
}
aside a{
    text-align: center;
}

.card-info a img{
    width: 10px;
    height: 10px;
    margin-left: 15%;
}
.boton-compra button{
    display: flex;
    margin: 10px auto;
    justify-content: center;
    background-color: #889b65;
    color: #f8f3f0;
    padding: 10px;
    width: 100%;
    border-style: none;
    border-radius: 30px;
}

.boton-compra button:hover{
    background: #9fb478;;
    color:#000;
}

.boton-compra{
    margin:  5% 40%;
}
/*------------------Contacto---------------*/
#contact{
    justify-content: center;
    flex-direction: row;
}
#contacto{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    background-color:#fce4d4 ;
    width: 90%;
    padding: 10px 0px;
    border-radius: 35px;
}
#contacto form>*{
    margin-top: 25px ;
}
.contacto{
    padding: 8px 15%;
    resize: none;
    border-radius: 30px;
}



/* -------------- Medias ----------------- */

/* -------------tablet---------------- */
@media(min-width:481px){


    /* index */
    .banner{
        background-size: 50vw 100vh;
    }

    .titulo-parrafo h1 {
        text-align: left;
    }
    .titulo-parrafo{
    align-self: flex-start;
    margin-left: 1rem;
    }
    .parrafo-header{
        margin-left: 1rem;
    }

    /*  Estilo de Login y Register Genaro*/
    .form{
        margin:3% 20%;
        border-radius:20px;
    }
    .form img{
        display: block;
        visibility: visible;
    }
}
.bloque1 img{
    max-width: 60%;
}

/* -------------escritorio-------------- */
@media(min-width:900px){

    /*  Estilo de Login y Register Genaro*/
    .img{
        visibility:visible;
        display:block;
    }
    .form{
        background-color: #fce4d4;
        margin:0px;
        border-radius: 0px;
    }
    form>.textArea{
        margin: 8% 0px 0px;
    }
    .hidden{
        align-self: flex-start;
    }
    .container{
        background-image: none;
    }

    /* footer general*/
    footer{
        flex-direction: row;
        margin:1rem;
        justify-content: space-between;
    }
    .redes-sociales2{
        justify-content: flex-start;
    }

    .logo-footer{
        align-self: flex-start;
    }

    /*  header index*/

    .banner{
        justify-content: space-between;
    }
    .nav-index{
        width: 50%;
        align-items: flex-start;
        margin-left: 5%;

    } 

    .titulo-parrafo h1 {
        font-size: 80px
    }

    .titulo-parrafo{
        margin: 0px;
    }
    .parrafo-header{
        width: 100%;
        font-size: 19px;
    }

    .contenedor-nav{
        width: 100%;
       align-items: flex-start;
       font-size: 23px;
    }
     
    .nav-2{
        font-size: 23px;
    }
    main{
        flex-direction: row;
    }
    .bloque1 img{
        max-width: 30%;
        display:block;
        margin: 10px;
    }
    .informacion-producto{
        margin: 2%;
    }
    summary{
        font-weight: bolder;
    }

    .background-fondo-productos{
        display: flex;
        flex-wrap: nowrap;
        margin: 1%;
    }

    .card-info img{
        max-width: 10%;
    }
    .class-info {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    }

    .cuadro {
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .cuadro .tarjeta{
        width: 23%;
    }

    .info{
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
    }

    .cuadro2{
        flex-direction: column;
    }

    .cuadro2 .titulo-3{
        text-align: center;
    }
    /*----------COntacto----------*/
}