<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<link rel="stylesheet" href="/css/contact.css">
    <title>La Vie Naturelle - Contactanos</title>
    <body>
        <%- include('./partials/header') %>

            <main id="contact">
                <section id="contacto">
                    <div>
                        <h2>¿Alguna consulta?</h2>
                    </div>
                    <div>
                        <div class="errores">
                         <ul></ul> 
                        </div>
                        <form class= "formulario" action="/contacto" method="post">
                            <div>
                                <label for="name"> Nombre y Apellido </label>
                                <input type="text" name="nombre" id="name" class="contacto">
                                <div id="formulario_mensaje">
                                    <p>El campo de email debe estar completo</p>
                                   </div>
                            </div>
                            <div>
                                <label for="mail">Correo electronico</label>
                                <input type="email" name="correo" id="mail" class="contacto" >
                            </div>
                            <div>
                                <label for="mensaje">Escriba su consulta aquí </label>
                                <input type="text" name="mensaje" id="mensaje"  class="contact">
                            </div>
                            <div>
                                <input type="submit" value="Enviar" class="button">
                            </div>
                        </form>
                    </div>
                </section>
            </main>
            <%- include('./partials/footer') %>
            <script src="\js\validacionContacto.js"></script>
    </body>

</html>