<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/favoritos.css">
    <title>La Vie Naturelle - Favoritos</title>
<body>
    <%- include('./partials/header') %>
    <h1></h1>
</body>
</html>