<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/miCuenta.css">
    <title>Mi Cuenta</title>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="container-perfil">
            <img src="" alt="Foto de perfil de usuario">
            <h2>Nombre de Usuario</h2>
        </div>
        <div class="container-compras">
            <h2>Ultimas Compras</h2>
            <div>
                <img src="" alt="">
                <p>Nombre Producto</p>
                <p>Fecha de compra</p>
            </div>
        </div>
        <div class="mis-datos">
            <h2>Mis Datos</h2>
            <div class="user-email">
                <!--icon-->
                <p>Email</p>
                <p>user123@gmail.com</p>
            </div>
            <div class="user-alias">
                <!--icon-->
                <p>Alias</p>
                <p>Fulanito123</p>
            </div>
            <div class="user-nombre">
                <!--icon-->
                <p>Nombre y Apellido</p>
                <p>Jennifer Lopez</p>
            </div>
            <div class="user-telefono">
                <!--icon-->
                <p>Celular</p>
                <p>+5403764123456</p>
            </div>
            <div class="user-postal">
                <!--icon-->
                <p>Código Postal</p>
                <p>3300</p>
            </div>
            <div class="user-direccion">
                <!--icon-->
                <p>Dirección</p>
                <p>Barrio ??? calle ??? numero de casa ??? Localidad ??? Provincia ???? </p>
            </div>
            <div class="user-tarjetas">
                <!--icon-->
                <p>VISA</p>
                <p>Numero de tarjeta</p>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>