<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nosotros.css">
    <link rel="shortcut icon" href="img/la vie icon mod.png" type="image/x-icon" id="x-icon">
     <title>La Vie Naturelle - Nosotros</title>
</head>
<body>
    <%- include('./partials/header') %>

    <main id="nosotros">
        <!-- Aqui va nuestro codigo-->
        <article class="banner-nosotros">
            <div>
                <div class="img-nosotros">
                    <img src="./img/fondo-nosotros.jpg" alt="imagen de nosotros">
                </div>
                <div class="titulo-nosotros">
                    <h1>NOSOTROS</h1>
                </div>
                <div class="parrafo-nosotros">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia nisi sed justo laoreet mollis. Donec eget consequat purus. Vestibulum justo dui, tincidunt nec est aliquet, tincidunt tristique augue. Suspendisse efficitur accumsan nibh vulputate gravida. Ut venenatis et quam ac molestie</p>
                </div>
            </div>
        </article>

        <article class="mision">
            <div>
                <h3>Misión</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia nisi sed justo laoreet mollis. Donec eget consequat purus. Vestibulum justo dui, tincidunt nec est aliquet, tincidunt tristique augue. Suspendisse efficitur accumsan nibh vulputate gravida. Ut venenatis et quam ac molestie</p>
            </div>
        </article>

        <article class="vision">
            <div>
                <h3>Visión</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia nisi sed justo laoreet mollis. Donec eget consequat purus. Vestibulum justo dui, tincidunt nec est aliquet, tincidunt tristique augue. Suspendisse efficitur accumsan nibh vulputate gravida. Ut venenatis et quam ac molestie</p>
            </div>
        </article>

        <article class="valores">
            <div>
                <h3>Valores</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia nisi sed justo laoreet mollis. Donec eget consequat purus. Vestibulum justo dui, tincidunt nec est aliquet, tincidunt tristique augue. Suspendisse efficitur accumsan nibh vulputate gravida. Ut venenatis et quam ac molestie</p>
            </div>
        </article>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>