<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nosotros.css">
    <link rel="shortcut icon" href="img/la vie icon mod.png" type="image/x-icon" id="x-icon">
     <title>La Vie Naturelle - Nosotros</title>
</head>
<body>
    <%- include('./partials/header') %>

    <main id="nosotros">
        <!-- Aqui va nuestro codigo-->
        <article class="banner-nosotros">
            <div>
                <div class="img-nosotros">
                    <img src="./img/fondo-nosotros.jpg" alt="imagen de nosotros">
                </div>
                <div class="titulo-nosotros">
                    <h1>NOSOTROS</h1>
                </div>
                <div class="parrafo-nosotros">
                    <p>Nuestra historia comenzó a partir de una iniciativa con el fin de asumir un compromiso con el cuidado personal y el medio ambiente, esto nos impulsó a realizar un proyecto que incorpora hábitos saludables, con el fin de contrarrestar lo artificial y los químicos que usamos a diario. Ofreciendo productos compuestos por ingredientes naturales generando una conexión con la naturaleza, cuidando la salud externa y al mismo tiempo protegiendo su estructura interna. Obteniendo formulas únicas y originales, brindando productos puros, respetuosos con el medio ambiente y de alto rendimiento para la belleza.</p>
                </div>
            </div>
        </article>

        <article class="mision">
            <div>
                <h3>Misión</h3>
                <p>Misión: Estamos comprometidos con la conservación de los ecosistemas de esta forma nuestra misión  es introducir en el mercado productos sustentables, elaborado con productos naturales de alta calidad, optimizando resultados positivos en nuestros consumidores. Ofreciendo innovación, calidad y responsabilidad social-ambiental.</p>
            </div>
        </article>

        <article class="vision">
            <div>
                <h3>Visión</h3>
                <p>Visión: Ser una empresa dedicada a distribuir productos naturales ofreciendo al consumidor productos unicos que permita una mejora física y emocional, produciendo una gran variedad de productos con una formula única. Logrando un buen posicionamiento en el mercado sostenible y
                    ecológico donde los clientes prefieran estos productos dejando atrás los convencionales.
                    </p>
            </div>
        </article>

        <article class="valores">
            <div>
                <h3>Valores</h3>
                <p>⁠⁠Nuestros valores se basa en cuidar de todo aquello que nos importa empezando por ti y nuestro planeta.  Creemos que la NATURALEZA nos brinda los recursos para la elaboración de productos de buena calidad y altamente efectivos, sin necesidad de agregados, son 100% sustentables, no probamos en animales y la marca es Libre de parabenos, petrolatos, siliconas y sulfatos.⠀</p>
            </div>
        </article>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>