<!DOCTYPE html>
<html lang="en">
    <title>la vie naturelle - ERROR 404</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/notFound.css">
    <%- include('./partials/header') %>
<body> 


    <div class=contenedor>
        <div>
            <h1>error</h1>
        </div> 
        <div class="imagen">
            <img src="./img/banners_fondos_images/404.png" class="img" alt="404">
        </div>
        <div>
            <p>oopss! lo lamentamos pero la página que solicita no existe o no esta disponible</p>
        </div>
        <div class="boton">
            <a class="button" href="/">regresar a home</a>
        </div>
    </div>
</body>

</html>