<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>      
        <article class="article-producto">
            <div class="bloque1">
                <div>
                    <img src="./img/jabon_1.jpg" alt="imagen producto 1" class="img-detalle-producto">
                </div>         
                <div class="precio-cantidad-tipo">
                    <h2>Acondicionador Sólido</h2>
                    <div class="precio-detalle">
                        <h3>$599.99</h3>
                        <input type="number" min="0" max="100" placeholder="cantidad">
                    </div>
                    <div class="tipo-cabello">
                        <h3>Tipo cabello:<h3>
                        <div class="selector">
                            <select>
                                <option value="cabello seco">cabello seco</option>
                                <option value="cabello rizado">cabello rizado</option>
                                <option value="cabello liso">cabello liso</option>
                            </select>
                        </div>
                    </div>
                    <div class="carrito-index">
                        <p>añadir al carrito</p>
                    </div>
                </div>
            </div>
            <!--bloque 2-->
            <nav class="bloque2">
                <details class="informacion-producto">
                    <summary>Descripcion</summary>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt ducimus optio impedit praesentium modi omnis, excepturi, accusamus itaque expedita </p>
                </details>
                <details class="informacion-producto">
                    <summary>Ingredientes</summary>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt ducimus optio impedit praesentium modi omnis, excepturi, accusamus itaque expedita </p>
                </details>
                <details class="informacion-producto">
                    <summary>Procedimientos</summary>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt ducimus optio impedit praesentium modi omnis, excepturi, accusamus itaque expedita </p>
                </details>
            </nav>

            <!--bloque 3--> 
            <%- include('./partials/ultimosProductos')%> 
        </article>

        <aside>
            <div>
                <h3>Promociones</h3>
            </div>
            <div>
                <img src="./img/promoción.jpeg" alt="promoción del dia">  
            </div> 
                <div class="subtitulo-categorias">
                    <h3>Categorias</h3>
                </div>
                    <div class="categorias">
                        <div class="cat">
                            <a href="#">Jabón Sólido</a>
                        </div>
                        <div class="cat">
                            <a href="#">Shampoo Sólido</a>
                        </div>
                        <div class="cat">
                            <a href="#">Desodorante Sólido</a>
                        </div>
                    </div>
                <div>
                    <img src="./img/LavieSinFondo.png" alt="img">  
                </div>      
        </aside>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>