<!DOCTYPE html>
<html lang="en">
<title>La Vie Naturelle - carrito</title>
<%- include('./partials/head') %>
<link rel="stylesheet" href="/css/productCart.css">

    <body>
        <%- include('./partials/header') %>
            <main class="main-carrito">
                <article class="article-carrito">
                    <table class="tabla-carrito">
                        <tr class="subtitulos">
                            <th class="subtitulo-carrito">Producto</th>
                            <th class="subtitulo-carrito">Cantidad</th>
                            <th class="subtitulo-carrito">Precio</th>
                        </tr>
                        <tr>
                            <td class="td-carrito">
                                <div class="card-info">
                                    <img src="./../img/products_images/jabon_exfoliante_1.jpeg" alt="imagen jabon solido">
                                    <div class="style-name">
                                        <p>Jabón sólido</p>
                                        <small class="price">Precio: $599.99</small>
                                        <a href="#"><ion-icon name="close-outline"></ion-icon>
                                    </div>
                                </div>
                            </td>
                            <td class="td-carrito"><input type="number" value="1" id="input-carrito"></td>
                            <td class="td-carrito">$599.99</td>
                        </tr>
                        <tr>
                            <td class="td-carrito">
                                <div class="card-info">
                                    <img src="./../img/products_images/shampoo solido graso.jpeg" alt="imagen jabon solido">
                                    <div class="style-name">
                                        <p>Shampoo sólido graso</p>
                                        <small class="price">Precio: $599.99</small>
                                        <a href="#"><ion-icon name="close-outline"></ion-icon>
                                    </div>
                                </div>
                            </td>
                            <td class="td-carrito"><input type="number" value="1" id="input-carrito"></td>
                            <td class="td-carrito">$599.99</td>
                        </tr>
                        <tr>
                            <td class="td-carrito">
                                <div class="card-info">
                                    <img src="./../img/products_images/acondicionador_normal.jpeg" alt="imagen jabon solido">
                                    <div class="style-name">
                                        <p>Acondicionador sólido</p>
                                        <small class="price">Precio: $599.99</small>
                                        <a href="#"><ion-icon name="close-outline"></ion-icon>
                                    </div>
                                </div>
                            </td>
                            <td class="td-carrito"><input type="number" value="1" id="input-carrito"></td>
                            <td class="td-carrito">$599.99</td>
                        </tr>
                    </table>

                    <div class="total-carrito">
                        <table>
                            <tr>
                                <td>subtotal</td>
                                <td>$599.99</td>
                            </tr>
                            <tr>
                                <td>Envío</td>
                                <td>$500</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>$1099.99</td>
                            </tr>
                        </table>

                    </div>
                    <div class="boton-compra">
                        <button type="button" class="boton">Proceder al pago</button>
                    </div>
                </article>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>