<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <article class="container" id="register">
        <section class="form">
            <img src="/img/la_vie_icon.png" alt="logo registro">
            <h2>Regístrate</h2>
            <form action="post">
                <div>    
                    <label for="name">Nombre de usuario</label>
                    <input type="text" id="name" name="name" placeholder="Nombre de usuario"class="textArea"required>
                </div>
                <div>
                    <label for="pass">Contraseña</label>
                    <input type="password" name="password" id="pass" placeholder="Nueva contraseña"class="textArea"required>
                    <span class="hidden"><input type="checkbox">Mostrar</span>
                </div>
                <div>
                    <label for="copass">Confirmar Contraseña</label>
                    <input type="password" name="confirmPass" id="copass" placeholder="Confirmar contraseña"class="textArea"required>
                    <span class="hidden"><input type="checkbox">Mostrar</span>
                </div>
                <div>
                    <label for="email">Correo</label>
                    <input type="email" name="email" id="email" placeholder="Email"class="textArea" required>
                </div>
                <input type="submit" value="Registrarse"class="button">
            </form>
            <p>¿ Ya tienes una cuenta ? <a href="/login"><button class="button">Login</button ></a></p>
        </section>
        <img src="/img/jabon_3.jpg" alt="imagen Registro" class="img">
    </article>
    <%- include('./partials/footer') %>
</body>
</html>