<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="img/la_vie_(3).png" type="image/x-icon" width="900px">
    <title>Registro</title>
</head>
<body>
    <header>
        <div class="icono-hamburguesa">
            <div class="burguer-icon">
                <label for="menu"class="nav__label">
                    <img src="./img/menu-hamburguesa.png" alt="menu hamburguesa">
                </label>
                <input type="checkbox" id="menu" class="nav__input">

                <nav class="menu-navegacion">
                    <a href="/">inicio</a>
                    <a href="/nosotros">nosotros</a>
                    <a href="/CarritoDeCompras">carrito</a>
                    <a href="/registro">registro</a>
                    <div class="burguer-icon">
                        <label for="menu"class="nav__label">
                            <img src="./img/cruzar.png" alt="menu hamburguesa">
                        </label>
                    <input type="checkbox" id="menu" class="nav__input">
                </nav>
            </div>
        </div>
        <div class="titulo">
            <div>
                <a href="/"><h1>La vie naturelle</h1></a>
            </div>
            <div class="img-icon">
                <a href="/"><img src="./img/la_vie_icon.png" alt="logo"></a>
            </div>
        </div>
        <div class="nav">
            <div class="carrito-icon">
                <a href="/CarritoDeCompras"><img src="./img/carrito-de-compras.svg" alt="icono de carrito"></a>
            </div>
        </div>
        <div class="nav">
            <div class="usuario-icon">
                <img src="./img/usuario.png" alt="icono de cliente">
            </div>
        </div>
    </header>
    <article class="container" id="register">
        <section class="form">
            <img src="/img/la_vie_icon.png" alt="logo registro">
            <h2>Regístrate</h2>
            <form action="post">
                <div>    
                    <label for="name">Nombre de usuario</label>
                    <input type="text" id="name" name="name" placeholder="Nombre de usuario"class="textArea"required>
                </div>
                <div>
                    <label for="pass">Contraseña</label>
                    <input type="password" name="password" id="pass" placeholder="Nueva contraseña"class="textArea"required>
                    <span class="hidden"><input type="checkbox">Mostrar</span>
                </div>
                <div>
                    <label for="copass">Confirmar Contraseña</label>
                    <input type="password" name="confirmPass" id="copass" placeholder="Confirmar contraseña"class="textArea"required>
                    <span class="hidden"><input type="checkbox">Mostrar</span>
                </div>
                <div>
                    <label for="email">Correo</label>
                    <input type="email" name="email" id="email" placeholder="Email"class="textArea" required>
                </div>
                <input type="submit" value="Registrarse"class="button">
            </form>
            <p>¿ Ya tienes una cuenta ? <a href="/login"><button class="button">Login</button ></a></p>
        </section>
        <img src="/img/jabon_3.jpg" alt="imagen Registro" class="img">
    </article>
    <footer>
        <div class="info-footer">
            <div class="iconos-info">
                <img src="./img/marcador.png" alt="" class="icon-footer">
                <p>Posadas,Misiones</p>
                <img src="./img/sobre.png" alt="" class="icon-footer">
                <p>lavienaturelle@gmail.com</p>
                <img src="./img/llamada-telefonica.png" alt="" class="icon-footer">
                <p>3764107823</p>
            </div>
        </div>  
        <div class="logo-footer">
            <img src="./img/la_vie_icon.png" alt="logo" class="icon-footer">
        </div>   
        <div class="legal-footer">
            <div>
              <div>
                  <h4 class="subtitulo-footer">RGPD</h4>
              </div>  
              <div class="rgpd">
                  <a href="/politica">politica de privacidad</a>
                  <a href="/terminos">terminos y condiciones</a>
              </div>  
            </div>
        </div>  
        <div class="nosotros-footer">
          <div>
              <div class="subtitulo-footer">
                  <h4>Nosotros</h4>
              </div>  
              <div class="nosotros">
                  <a href="/historia">historia</a>
                  <a href="/mision">mision,vision y valores</a>
                  <a href="/contacto">contactenos</a>
              </div>  
          </div>  
        </div>  
        <div class="redes-sociales2">
            <div>
              <div>
                  <h4>Redes Sociales</h4>
              </div>  
              <div class="redes-sociales">
                  <div class="wpp-icon">
                      <img src="./img/whatsapp.png" alt="logo wpp" class="icon-footer">
                  </div>
                  <div class="ig-icon">
                      <img src="./img/instagram.png" alt="logo instagram" class="icon-footer">
                  </div>
              </div>  
            </div>
        </div>  
    </footer>
</body>
</html>