<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/vista.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vista home provisional</title>

</head>

<body>
    <div class="pos">
        <div class="nav navegacion">
            <div class="boton menu">
                <a href="/">
                    <p>inicio</p>
                </a>
            </div>
            <div class="boton menu">
                <a href="/nosotros">
                    <p>nosotros</p>
                </a>
            </div>
            <div class="boton menu">
                <a href="/product/catalogoproductos">
                    <p>productos</p>
                </a>
            </div>
            <div class="boton menu">
                <a href="/contacto">
                    <p>contacto</p>
                </a>

            </div>
            
            <div>
            </div>

            <div class="nav usuario">
                <div class="imagen">
                    <img src="./../../img/users_images/leandroramos1657584227715.jpg" alt="Foto de perfil de usuario"
                        class="foto usuario">
                </div>
                <div id="menu">
                    <ul>
                        <li> mi perfil</li>
                        <li>panel administrador</li>
                        <li>cerrar sesion</li>
                    </ul>
                </div>

            </div>

            <div>
                <img src="./img/icons_images/carrito-de-compras.svg" alt="carrito" class="carrito">
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="titulo-parrafo">
            <h1 class="titulo-header">La Vie Naturelle</h1>
            <p class="parrafo-header">Cosmética natural, amigable con el medio ambiente, hecha
                artesanalmente con productos naturales, compostables y cruelty free🌾✨🌍</p>
            <p class="parrafo-header">producto de calidad y gran diseño</p>
        </div>

    </div>


    <script src="\js\vista.js"></script>
</body>

</html>