<footer>
    <div class="info-footer">
        <div class="iconos-info">
            <img src="./../../img/icons_images/marcador.png" alt="" class="icon-footer">
            <p>Posadas,Misiones</p>
            <img src="./../../img/icons_images/sobre.png" alt="" class="icon-footer">
            <p>lavienaturelle@gmail.com</p>
            <img src="./../../img/icons_images/llamada-telefonica.png" alt="" class="icon-footer">
            <p>3764107823</p>
        </div>
    </div>  
    <div class="logo-footer">
        <img src="./../../img/lavie_images/la_vie_icon.png" alt="logo" class="icon-footer">
    </div>   
    <div class="legal-footer">
        <div>
          <div>
              <h4 class="subtitulo-footer">RGPD</h4>
          </div>  
          <div class="rgpd">
              <a href="/politica">politica de privacidad</a>
              <a href="/terminos">terminos y condiciones</a>
          </div>  
        </div>
    </div>  
    <div class="nosotros-footer">
      <div>
          <div class="subtitulo-footer">
              <h4>Nosotros</h4>
          </div>  
          <div class="nosotros">
              <a href="/historia">historia</a>
              <a href="/mision">mision,vision y valores</a>
              <a href="/contacto">contactenos</a>
          </div>  
      </div>  
    </div>  
    <div class="redes-sociales2">
        <div>
          <div>
              <h4>Redes Sociales</h4>
          </div>  
          <div class="redes-sociales">
              <div class="wpp-icon">
                  <img src="./../../img/icons_images/whatsapp.png" alt="logo wpp" class="icon-footer">
              </div>
              <div class="ig-icon">
                  <img src="./../../img/icons_images/instagram.png" alt="logo instagram" class="icon-footer">
              </div>
          </div>  
        </div>
    </div>  
</footer>