<footer>
    <div class="info-footer">
        <div class="iconos-info">
            <ion-icon name="location"></ion-icon>
            <p>Posadas,Misiones</p>
            <ion-icon name="mail"></ion-icon>
            <p>lavienaturelle@gmail.com</p>
            <ion-icon name="call"></ion-icon>
            <p>3764107823</p>
        </div>
    </div>
    <div class="logo-footer">
        <img src="./../../img/lavie_images/la_vie_icon.png" alt="logo" class="icon-footer">
    </div>
    <div class="legal-footer">
        <div>
            <div>
                <h4 class="subtitulo-footer">RGPD</h4>
            </div>
            <div class="rgpd">
                <a href="/politica">politica de privacidad</a>
                <a href="/terminos">terminos y condiciones</a>
            </div>
        </div>
    </div>
    <div class="nosotros-footer">
        <div>
            <div class="subtitulo-footer">
                <h4>Nosotros</h4>
            </div>
            <div class="nosotros">
                <a href="/nosotros">historia</a>
                <a href="/nosotros/mision">mision,vision y valores</a>
                <a href="/contacto">contactenos</a>
            </div>
        </div>
    </div>
    <div class="redes-sociales2">
        <div>
            <div>
                <h4>Redes Sociales</h4>
            </div>
            <div class="redes-sociales">
                <div class="wpp-icon">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </div>
                <div class="ig-icon">
                    <ion-icon name="logo-instagram"></ion-icon>
                </div>
            </div>
        </div>
    </div>
</footer>