<header>
    <input type="checkbox" id="btn-menu">
    <label for="btn-menu" class="lbl-menu">
        <span id="spn1"></span>
        <span id="spn2"></span>
        <span id="spn3"></span>
    </label>
    <div href="#" class="div-logo">
        <a href="/">
            <img src="./../../img/lavie_images/LavieSinFondo.png" class="logo">
        </a>
    </div>
    <div class="nav">
        <div class="div-user-img">
            <img src="/../../img/users_images/<%= user.image %>" class="user-img" />
        </div>
        <div id="menu">
            <ul>
                <% if (user.status == "Admin") { %>
                    <li><a class="a-nav" href="/user/myAccount/<%= user.id %>">Mi perfil</a></li>
                    <li><a class="a-nav" href="/user/admin">Admin Panel</a></li>
                    <li><a class="a-nav" href="/user/un-login">Cerrar sesión</a></li>
                <% } else if (user.status == "User"){ %>
                    <li><a class="a-nav" href="/user/myAccount/<%= user.id %>">Mi perfil</a></li>
                    <li><a class="a-nav" href="/user/un-login">Cerrar sesión</a></li>
                <% }  else {%>
                        <li><a class="a-nav" href="/user/login">Iniciar sesión</a></li>
                        <li><a class="a-nav" href="/user/registro">Registrarse</a></li>
                <% } %>
        </div>
    </div>
    <script src="\js\index.js"></script>
    <div class="div-cart">
        <a href="#">
            <!-- <img src="/carrito-de-compras.svg" class="cart"> -->
            <i class="fa-solid fa-cart-shopping cart"></i>
        </a>
    </div>
    <ul class="nav-ul">
        <li class="active"><a href="/">Inicio</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/product/catalogoproductos">Productos</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</header>