<header>
    <div class="icono-hamburguesa">
        <div class="burguer-icon">
            <label for="menu"class="nav__label">
                <img src="./../img/menu-hamburguesa.png" alt="menu hamburguesa">
            </label>
            <input type="checkbox" id="menu" class="nav__input">

            <nav class="menu-navegacion">
                <a href="/">inicio</a>
                <a href="/nosotros">nosotros</a>
                <a href="/product/CarritoDeCompras">carrito</a>
                <a href="/user/registro">registro</a>
                <a href="/user/admin">administracion</a>
                <div class="burguer-icon">
                    <label for="menu"class="nav__label">
                        <img src="./../img/cruzar.png" alt="menu hamburguesa">
                    </label>
                <input type="checkbox" id="menu" class="nav__input">
            </nav>
        </div>
    </div>
    <div class="titulo">
        <div>
            <a href="/"><h1>La vie naturelle</h1></a>
        </div>
        <div class="img-icon">
            <a href="/"><img src="./../img/la_vie_icon.png" alt="logo"></a>
        </div>
    </div>
    <div class="nav">
        <div class="carrito-icon">
            <a href="/product/CarritoDeCompras"><img src="./../img/carrito-de-compras.svg" alt="icono de carrito"></a>
        </div>
    </div>
    <div class="nav">
        <div class="usuario-icon">
            <img src="./../img/usuario.png" alt="icono de cliente">
        </div>

    </div>
</header>