<div class="ultimos-productos">
    <div class="cuadro2">
        <div class="titulo-3">
            <h3>Últimos Productos</h3>
        </div>
        <div class="background-fondo-productos">
            <% if (products.length>0) { %>
                
                <% for( let i = 0; i < 4; i++ ) { %>
                    <div class="producto-nuevo">
                        <div class="new-producto">
                            <img src="./../img/products_images/<%= products[i].image %>" alt="producto-new1">
                        </div>
                        <div>
                            <div class="titulo-producto">
                                <p><%= products[i].nameProduct %></p>
                            </div>
                            <div class="precio-index">
                                <p><%= products[i].price %></p>
                            </div>
                        </div>
                        <div>
                            <div class="carrito-index">
                                <p>añadir al carrito</p>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>