<form action="" method="post" class="form">
    <h2 class="form-title">Edita tu información</h2>
    <div class="form-container">
        <h3>Cambiar tu foto de perfil</h3>
        <div class="form-group">
            <!--INPUT DE CAMBIO DE FOTO-->
            <input type="file" name="" id="userImage" class="form-input" placeholder="">
            <span class="form-line"></span>
        </div>
        <!--CONTENEDOR DEL INPUT EMAIL-->
        <div class="form-group">
            <input type="email" name="" id="email" class="form-input" placeholder="">
            <label for="email" class="form-label">Correo Electronico</label>
            <span class="form-line"></span>
        </div>

        <!--CONTENEDOR DEL INPUT NOMBRE-->
        <div class="form-group">
            <input type="text" name="" id="name" class="form-input" placeholder="">
            <label for="name" class="form-label">Nombre y Apellido</label>
            <span class="form-line"></span>
        </div>

        <!--CONTENEDOR DEL INPUT CELULAR-->
        <div class="form-group">
            <input type="text" name="" id="telephone" class="form-input" placeholder="">
            <label for="telephone" class="form-label">Celular</label>
            <span class="form-line"></span>
        </div>

        <!--CONTENEDOR DEL INPUT CODIGO POSTAL-->
        <div class="form-group">
            <input type="text" name="" id="postalCode" class="form-input" placeholder="">
            <label for="postalCode" class="form-label">Código Postal</label>
            <span class="form-line"></span>
        </div>

        <!--CONTENEDOR DEL INPUT DIRECCION-->
        <div class="form-group">
            <input type="text" name="" id="direction" class="form-input" placeholder="">
            <label for="direction" class="form-label">Dirección</label>
            <span class="form-line"></span>
        </div>

        <!--CONTENEDOR DEL INPUT TARJETAS-->
        <h3>Asociar Tarjeta</h3>
        <div class="form-group">
            <input type="text" name="" id="cards" class="form-input" placeholder="">
            <label for="cards" class="form-label">Tarjeta de Crédito/Débito</label>
        </div>
        <div class="form-group">
            <input type="text" name="" id="cards" class="form-input" placeholder="">
            <label for="cards" class="form-label">Número de Tarjeta</label>
            <span class="form-line"></span>
        </div>
        <!--CONTENEDOR DEL INPUT BOTON SUBMIT-->
        <input type="submit" value="Guardar cambios" class="form-submit">
    </div>

</form>